n8n-workflows/blog-gerador-semanal.json
{
  "name": "Blog · Gerador Semanal",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 11 * * 1"
            }
          ]
        }
      },
      "id": "d22bf08c-13c1-4dac-985a-81334dc4c86b",
      "name": "Toda Segunda 08:00 BRT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT (value::text)::boolean FROM blog_settings WHERE key='generator_paused') AS paused,\n  (SELECT (value::text)::int FROM blog_settings WHERE key='generator_pause_threshold') AS threshold,\n  (SELECT trim(both '\"' from value::text) FROM blog_settings WHERE key='last_pillar') AS last_pillar,\n  (SELECT count(*) FROM blog_drafts WHERE status IN ('pending_review','approved')) AS buffer_count,\n  COALESCE(\n    (SELECT jsonb_agg(row_to_json(t))\n     FROM (SELECT pillar, title, slug FROM blog_drafts ORDER BY updated_at DESC LIMIT 100) t),\n    '[]'::jsonb\n  ) AS recent_topics;",
        "options": {}
      },
      "id": "4a0d8a6e-4dba-4838-b57e-afe15067b834",
      "name": "Ler Settings + Buffer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "OrMhexleB5Cyk2m2",
          "name": "Supabase Blog Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.paused }}",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "rightValue": ""
            },
            {
              "leftValue": "={{ $json.buffer_count }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              },
              "rightValue": "={{ $json.threshold }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d9d82652-b432-4763-a84e-93c1c9b46813",
      "name": "Pode Gerar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const PILLARS = ['gastroenterologia','endoscopia','colonoscopia','hepatologia','geriatria'];\nconst POSTS_PER_RUN = 6;\n\n// Sub-temas rankeados por prioridade SEO (5=ancora-quick-win, 4=high, 3=mid, 2=long-tail)\n// Order matters: picker prefere top da lista entre os ainda nao usados\nconst SUBTOPICS = {\n  'gastroenterologia': [\n    'gastroenterologista-recife','refluxo-gastroesofagico-sintomas-tratamento','quando-procurar-gastroenterologista','gastrite-sintomas-tratamento',\n    'helicobacter-pylori-tratamento','consulta-gastro-particular-recife','intestino-irritavel-sii-sintomas','dor-de-barriga-quando-procurar-medico','azia-queimacao-causa','intolerancia-a-lactose-teste',\n    'sibo-supercrescimento-bacteriano','prisao-de-ventre-cronica-causas','dispepsia-funcional-o-que-e','gases-intestinais-em-excesso','diarreia-cronica-mais-de-30-dias','nausea-e-vomito-persistente','convenios-aceitos-gastro-recife',\n    'mau-halito-causa-gastrica','doenca-celiaca-diagnostico','pancreatite-cronica-sinais'\n  ],\n  'endoscopia': [\n    'endoscopia-recife-preco-agendamento','endoscopia-digestiva-alta-preparo','endoscopia-doi-como-e-feita','endoscopia-quanto-custa-particular','endoscopia-com-sedacao-como-funciona',\n    'endoscopia-jejum-quantas-horas','endoscopia-com-biopsia-pylori','endoscopia-quando-fazer-indicacoes','endoscopia-resultado-laudo-como-ler','endoscopia-recife-convenio-unimed',\n    'endoscopia-depois-do-exame-cuidados','esofago-de-barrett-o-que-e','hernia-de-hiato-sintomas-cirurgia','endoscopia-com-cromoscopia-magnificacao','esofagite-erosiva-graus-tratamento','ulcera-gastrica-duodenal-cicatrizacao',\n    'ph-metria-esofagica-indicacao','manometria-esofagica-exame','endoscopia-com-anestesia-geral','mucosectomia-endoscopica-polipo'\n  ],\n  'colonoscopia': [\n    'colonoscopia-recife-agendar','colonoscopia-preparo-manitol-dieta','colonoscopia-doi-como-e-feita','colonoscopia-a-partir-de-que-idade','colonoscopia-quanto-custa-particular','rastreamento-cancer-colorretal',\n    'colonoscopia-com-sedacao-anestesia','polipo-no-intestino-removido-cancer','colonoscopia-com-co2-vantagens','historico-familiar-cancer-intestino','colonoscopia-preparo-vespera','colonoscopia-convenio-recife',\n    'sangue-nas-fezes-o-que-pode-ser','colonoscopia-de-quanto-em-quanto-tempo','polipectomia-como-e-feita','doenca-diverticular-diverticulite','colonoscopia-virtual-vs-convencional',\n    'doenca-de-crohn-retocolite-ulcerativa','hemorroida-ou-cancer-de-intestino','colonoscopia-acompanhante-obrigatorio'\n  ],\n  'hepatologia': [\n    'hepatologista-recife-quando-procurar','esteatose-hepatica-sintomas-tratamento','gordura-no-figado-como-eliminar','esteatose-hepatica-grau-1-2-3',\n    'quando-procurar-hepatologista','cirrose-hepatica-sintomas-causas','hepatite-c-tratamento-cura','hepatite-b-cronica-tratamento','elastografia-hepatica-fibroscan-recife','transaminases-tgo-tgp-alteradas',\n    'nash-esteatohepatite-nao-alcoolica','dieta-para-figado-gorduroso','calculo-na-vesicula-sintomas-cirurgia','figado-aumentado-hepatomegalia','quem-deve-fazer-teste-hepatite','bilirrubina-alta-icteria-causas','alcool-figado-quanto-faz-mal',\n    'hepatite-autoimune-diagnostico','carcinoma-hepatocelular-rastreio','colangite-biliar-primaria-pbc'\n  ],\n  'geriatria': [\n    'geriatra-recife-quando-procurar','quando-procurar-um-geriatra-idade','avaliacao-geriatrica-ampla-aga','geriatra-vs-clinico-geral',\n    'polifarmacia-idosos-revisao-remedios','check-up-do-idoso-quais-exames','perda-de-memoria-idoso-demencia','sinais-de-alzheimer-em-idosos','quedas-em-idosos-prevencao','consulta-geriatra-particular-recife',\n    'sarcopenia-perda-massa-muscular','fragilidade-no-idoso-o-que-e','incontinencia-urinaria-idoso-tratamento','depressao-em-idosos-sinais','insonia-em-idosos-causas-tratamento','osteoporose-em-idosos-prevencao','vacinas-recomendadas-para-idosos',\n    'parkinson-no-idoso-tratamento','cuidador-de-idoso-quando-contratar','delirium-em-idoso-hospitalizado'\n  ]\n};\n\nconst inp = $('Ler Settings + Buffer').first().json;\nconst last = inp.last_pillar || 'none';\nconst recent = Array.isArray(inp.recent_topics) ? inp.recent_topics : [];\nconst startIdx = (PILLARS.indexOf(last) + 1) % PILLARS.length;\nconst picks = Array.from({length: POSTS_PER_RUN}, (_, i) => PILLARS[(startIdx + i) % PILLARS.length]);\n\n// === ANTI-REPETICAO FORTE ===\n// tema-chave = 2 primeiros tokens do slug (ex: 'esteatose-hepatica-grau-1-2-3' -> 'esteatose-hepatica').\n// Um tema-chave so volta quando o pool de temas ineditos do pilar esgotar.\nfunction themeKey(slug) {\n  return String(slug || '').toLowerCase().split('-').slice(0, 2).join('-');\n}\nconst recentThemesByPillar = {};\nrecent.forEach(r => {\n  if (!r || !r.pillar) return;\n  if (!recentThemesByPillar[r.pillar]) recentThemesByPillar[r.pillar] = new Set();\n  recentThemesByPillar[r.pillar].add(themeKey(r.slug));\n});\nconst usedInBatch = new Set();\nconst usedThemesInBatch = new Set();\n\nfunction pickSubtopic(pillar) {\n  const pool = SUBTOPICS[pillar] || [];\n  const recentThemes = recentThemesByPillar[pillar] || new Set();\n  let candidates = pool.filter(st => !usedInBatch.has(st)\n    && !recentThemes.has(themeKey(st))\n    && !usedThemesInBatch.has(themeKey(st)));\n  if (candidates.length === 0) {\n    candidates = pool.filter(st => !usedInBatch.has(st));\n  }\n  if (candidates.length === 0) candidates = pool;\n  const chosen = candidates[Math.floor(Math.random() * candidates.length)] || 'saude-digestiva';\n  usedInBatch.add(chosen);\n  usedThemesInBatch.add(themeKey(chosen));\n  return chosen;\n}\n\n// === SUGESTOES DA EQUIPE (furam a fila; FIFO por pilar) ===\nconst sugRows = $('SELECT Sugestoes').all().map(i => i.json).filter(r => r && r.id && r.topic_text);\nconst sugByPillar = {};\nsugRows.forEach(s => { (sugByPillar[s.pillar] = sugByPillar[s.pillar] || []).push(s); });\n\nfunction slugify(t) {\n  return String(t).toLowerCase()\n    .normalize('NFD').replace(/[̀-ͯ]/g, '')\n    .replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 60);\n}\n\n// === APRENDIZADO: regras (system) + exemplos (user) ===\nconst ruleRows = $('SELECT Regras Ativas').all().map(i => i.json).filter(r => r && r.rule_text);\nconst exampleRows = $('SELECT Exemplos').all().map(i => i.json).filter(r => r && r.content_json);\n\nfunction selectExamples(rows, pillar, n) {\n  const same = rows.filter(r => r.pillar === pillar);\n  const other = rows.filter(r => r.pillar !== pillar);\n  return same.concat(other).slice(0, n);\n}\nfunction buildExamplesBlock(examples) {\n  if (!examples || examples.length === 0) return '';\n  const blocks = examples.map((e, i) => '### Exemplo ' + (i+1) + ': ' + e.title + '\\n' + JSON.stringify(e.content_json)).join('\\n\\n');\n  return '\\n\\nEXEMPLOS DE POSTS APROVADOS — escreva no MESMO estilo, tom e estrutura destes (NAO copie o tema, copie o jeito de escrever):\\n\\n' + blocks + '\\n\\n';\n}\nfunction buildRulesBlock(rules) {\n  if (!rules || rules.length === 0) return '';\n  const lines = rules.map(r => '- [' + (r.scope || 'outro') + '] ' + r.rule_text).join('\\n');\n  return '\\n\\nREGRAS APRENDIDAS COM O EDITOR (seguir A RISCA, prevalecem sobre o estilo padrao):\\n' + lines;\n}\n\nconst SYSTEM = 'Voce e um redator medico brasileiro especializado em gastroenterologia, endoscopia digestiva, colonoscopia, hepatologia e geriatria. Escreve para pacientes leigos em PT-BR claro, com revisao CFM. SEMPRE emite o resultado chamando a ferramenta emit_post (objeto BlogPost estruturado, sem texto fora da ferramenta). Inclui ao menos 3 H2, ao menos 1500 palavras, FAQ com 4-6 perguntas, autoria Dra. Jane Erika Frazao Okazaki (CRM-PE 19872, RQE 17633). Sem promessas de cura, sem before-after, sem testimonials.';\nconst SYSTEM_FINAL = SYSTEM + buildRulesBlock(ruleRows);\n\nfunction userPrompt(pillar, subtopic, topicText) {\n  const foco = topicText\n    ? 'FOCO OBRIGATORIO E EXCLUSIVO (tema sugerido pela equipe da clinica — atenda exatamente este pedido): \"' + topicText + '\". '\n    : 'FOCO OBRIGATORIO E EXCLUSIVO: sub-tema \"' + subtopic + '\". ';\n  return 'Gere um rascunho de post de blog medico para a Clinica Okazaki sobre o pilar ' + pillar + '.\\n\\n' +\n    foco +\n    'O slug DEVE comecar com \"' + subtopic + '\" (pode adicionar palavras adicionais depois com hifen, ou usar o slug exato). ' +\n    'O titulo, lead, sections, faqs e todo o conteudo devem girar exclusivamente em torno deste sub-tema. NAO escreva post generico sobre ' + pillar + ' inteiro. ' +\n    'NAO repita angulos batidos: aborde com profundidade clinica especifica (sintomas, diagnostico, exames, conduta, criterios, evidencias) e quando aplicavel inclua geo-modifier \"Recife\" no description e/ou title.\\n\\n' +\n    'Emita via ferramenta emit_post um objeto com este shape: { slug, pillar, title, description (140-160 chars com geo-modifier em Recife quando faz sentido), keywords, h1, lead, eyebrow (BLOG dot ' + pillar.toUpperCase() + '), breadcrumbLabel, about, excerpt (80-200 chars), sections (array com id slug-style, h2, blocks), faqs (array {q,a}), author (Dra. Jane Erika Frazao Okazaki, CRM-PE 19872, RQE 17633, photo /assets/team/jane.webp, bio), publishedAt ISO, updatedAt ISO }. Block types: p, h3, ul (items array), callout, warning, inline-cta, link. Total 1500-2000 palavras em 4-6 sections. Inclua ao menos 1 link interno para /' + pillar + '.';\n}\n\nreturn picks.map(pillar => {\n  const sug = (sugByPillar[pillar] || []).shift();\n  const subtopic = sug ? slugify(sug.topic_text) : pickSubtopic(pillar);\n  if (sug) { usedInBatch.add(subtopic); usedThemesInBatch.add(themeKey(subtopic)); }\n  const examples = selectExamples(exampleRows, pillar, 3);\n  return { json: {\n    pillar,\n    subtopic,\n    suggestion_id: sug ? sug.id : null,\n    suggested_topic: sug ? sug.topic_text : null,\n    system: SYSTEM_FINAL,\n    user: userPrompt(pillar, subtopic, sug ? sug.topic_text : null) + buildExamplesBlock(examples)\n  } };\n});\n"
      },
      "id": "c462c9a3-0461-4f64-9cc8-ff9b586c65aa",
      "name": "Escolher 6 Pilares + Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"claude-sonnet-4-5\", max_tokens: 16000, system: [{ type: \"text\", text: $json.system, cache_control: { type: \"ephemeral\" } }], messages: [{ role: \"user\", content: $json.user }], tools: [{ name: \"emit_post\", description: \"Emite o post BlogPost estruturado e validado.\", input_schema: { type: \"object\", properties: { slug: { type: \"string\" }, pillar: { type: \"string\" }, title: { type: \"string\" }, description: { type: \"string\" }, keywords: { type: \"string\" }, h1: { type: \"string\" }, lead: { type: \"string\" }, eyebrow: { type: \"string\" }, breadcrumbLabel: { type: \"string\" }, about: { type: \"string\" }, excerpt: { type: \"string\" }, sections: { type: \"array\" }, faqs: { type: \"array\" }, author: { type: \"object\" }, publishedAt: { type: \"string\" }, updatedAt: { type: \"string\" } }, required: [\"slug\",\"pillar\",\"title\",\"description\",\"keywords\",\"h1\",\"lead\",\"eyebrow\",\"breadcrumbLabel\",\"about\",\"excerpt\",\"sections\",\"faqs\",\"author\",\"publishedAt\",\"updatedAt\"] } }], tool_choice: { type: \"tool\", name: \"emit_post\" } }) }}",
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 300000
        }
      },
      "id": "da5ad44a-0816-4dc4-9fac-12cf629a5e14",
      "name": "Anthropic Claude Sonnet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        208
      ],
      "credentials": {
        "anthropicApi": {
          "id": "LrxhJlhaR4wnSx31",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $input.item.json;\nconst tu = (raw.content || []).find(c => c.type === 'tool_use');\nif (!tu || !tu.input) throw new Error('Anthropic response sem tool_use. stop_reason=' + (raw.stop_reason || '?'));\nconst parsed = tu.input;\nconst required = ['slug','pillar','title','description','keywords','h1','lead','eyebrow','breadcrumbLabel','about','excerpt','sections','faqs','author','publishedAt','updatedAt'];\nconst missing = required.filter(k => !(k in parsed));\nif (missing.length) throw new Error('Campos faltando: ' + missing.join(','));\nif (!Array.isArray(parsed.sections) || parsed.sections.length === 0) throw new Error('sections vazio');\nif (!Array.isArray(parsed.faqs)) throw new Error('faqs deve ser array');\nif (!/^[a-z0-9][a-z0-9-]*$/.test(parsed.slug)) throw new Error('slug invalido: ' + parsed.slug);\nif (parsed.description.length < 80 || parsed.description.length > 200) throw new Error('description fora de 80-200 chars: ' + parsed.description.length);\nconst flatText = JSON.stringify(parsed);\nconst wordCount = flatText.split(/\\s+/).length;\nconst keywordsArr = typeof parsed.keywords === 'string' ? parsed.keywords.split(',').map(k => k.trim()) : parsed.keywords;\nreturn { json: { slug: parsed.slug, pillar: parsed.pillar, title: parsed.title, meta_description: parsed.description, keywords: keywordsArr, content_json: parsed, word_count: wordCount, generated_by: 'claude-sonnet-4-5', status: 'pending_review' } };"
      },
      "id": "ebbaa252-80ce-42ee-ab44-55a9ada3b99d",
      "name": "Parse + Validar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        208
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "blog_drafts"
        },
        "columns": {
          "0": "{",
          "1": "\"",
          "2": "m",
          "3": "a",
          "4": "p",
          "5": "p",
          "6": "i",
          "7": "n",
          "8": "g",
          "9": "M",
          "10": "o",
          "11": "d",
          "12": "e",
          "13": "\"",
          "14": ":",
          "15": "\"",
          "16": "d",
          "17": "e",
          "18": "f",
          "19": "i",
          "20": "n",
          "21": "e",
          "22": "B",
          "23": "e",
          "24": "l",
          "25": "o",
          "26": "w",
          "27": "\"",
          "28": ",",
          "29": "\"",
          "30": "v",
          "31": "a",
          "32": "l",
          "33": "u",
          "34": "e",
          "35": "\"",
          "36": ":",
          "37": "{",
          "38": "\"",
          "39": "s",
          "40": "l",
          "41": "u",
          "42": "g",
          "43": "\"",
          "44": ":",
          "45": "\"",
          "46": "=",
          "47": "{",
          "48": "{",
          "49": " ",
          "50": "$",
          "51": "j",
          "52": "s",
          "53": "o",
          "54": "n",
          "55": ".",
          "56": "s",
          "57": "l",
          "58": "u",
          "59": "g",
          "60": " ",
          "61": "}",
          "62": "}",
          "63": "\"",
          "64": ",",
          "65": "\"",
          "66": "p",
          "67": "i",
          "68": "l",
          "69": "l",
          "70": "a",
          "71": "r",
          "72": "\"",
          "73": ":",
          "74": "\"",
          "75": "=",
          "76": "{",
          "77": "{",
          "78": " ",
          "79": "$",
          "80": "j",
          "81": "s",
          "82": "o",
          "83": "n",
          "84": ".",
          "85": "p",
          "86": "i",
          "87": "l",
          "88": "l",
          "89": "a",
          "90": "r",
          "91": " ",
          "92": "}",
          "93": "}",
          "94": "\"",
          "95": ",",
          "96": "\"",
          "97": "t",
          "98": "i",
          "99": "t",
          "100": "l",
          "101": "e",
          "102": "\"",
          "103": ":",
          "104": "\"",
          "105": "=",
          "106": "{",
          "107": "{",
          "108": " ",
          "109": "$",
          "110": "j",
          "111": "s",
          "112": "o",
          "113": "n",
          "114": ".",
          "115": "t",
          "116": "i",
          "117": "t",
          "118": "l",
          "119": "e",
          "120": " ",
          "121": "}",
          "122": "}",
          "123": "\"",
          "124": ",",
          "125": "\"",
          "126": "m",
          "127": "e",
          "128": "t",
          "129": "a",
          "130": "_",
          "131": "d",
          "132": "e",
          "133": "s",
          "134": "c",
          "135": "r",
          "136": "i",
          "137": "p",
          "138": "t",
          "139": "i",
          "140": "o",
          "141": "n",
          "142": "\"",
          "143": ":",
          "144": "\"",
          "145": "=",
          "146": "{",
          "147": "{",
          "148": " ",
          "149": "$",
          "150": "j",
          "151": "s",
          "152": "o",
          "153": "n",
          "154": ".",
          "155": "m",
          "156": "e",
          "157": "t",
          "158": "a",
          "159": "_",
          "160": "d",
          "161": "e",
          "162": "s",
          "163": "c",
          "164": "r",
          "165": "i",
          "166": "p",
          "167": "t",
          "168": "i",
          "169": "o",
          "170": "n",
          "171": " ",
          "172": "}",
          "173": "}",
          "174": "\"",
          "175": ",",
          "176": "\"",
          "177": "k",
          "178": "e",
          "179": "y",
          "180": "w",
          "181": "o",
          "182": "r",
          "183": "d",
          "184": "s",
          "185": "\"",
          "186": ":",
          "187": "\"",
          "188": "=",
          "189": "{",
          "190": "{",
          "191": " ",
          "192": "$",
          "193": "j",
          "194": "s",
          "195": "o",
          "196": "n",
          "197": ".",
          "198": "k",
          "199": "e",
          "200": "y",
          "201": "w",
          "202": "o",
          "203": "r",
          "204": "d",
          "205": "s",
          "206": " ",
          "207": "}",
          "208": "}",
          "209": "\"",
          "210": ",",
          "211": "\"",
          "212": "c",
          "213": "o",
          "214": "n",
          "215": "t",
          "216": "e",
          "217": "n",
          "218": "t",
          "219": "_",
          "220": "j",
          "221": "s",
          "222": "o",
          "223": "n",
          "224": "\"",
          "225": ":",
          "226": "\"",
          "227": "=",
          "228": "{",
          "229": "{",
          "230": " ",
          "231": "$",
          "232": "j",
          "233": "s",
          "234": "o",
          "235": "n",
          "236": ".",
          "237": "c",
          "238": "o",
          "239": "n",
          "240": "t",
          "241": "e",
          "242": "n",
          "243": "t",
          "244": "_",
          "245": "j",
          "246": "s",
          "247": "o",
          "248": "n",
          "249": " ",
          "250": "}",
          "251": "}",
          "252": "\"",
          "253": ",",
          "254": "\"",
          "255": "w",
          "256": "o",
          "257": "r",
          "258": "d",
          "259": "_",
          "260": "c",
          "261": "o",
          "262": "u",
          "263": "n",
          "264": "t",
          "265": "\"",
          "266": ":",
          "267": "\"",
          "268": "=",
          "269": "{",
          "270": "{",
          "271": " ",
          "272": "$",
          "273": "j",
          "274": "s",
          "275": "o",
          "276": "n",
          "277": ".",
          "278": "w",
          "279": "o",
          "280": "r",
          "281": "d",
          "282": "_",
          "283": "c",
          "284": "o",
          "285": "u",
          "286": "n",
          "287": "t",
          "288": " ",
          "289": "}",
          "290": "}",
          "291": "\"",
          "292": ",",
          "293": "\"",
          "294": "g",
          "295": "e",
          "296": "n",
          "297": "e",
          "298": "r",
          "299": "a",
          "300": "t",
          "301": "e",
          "302": "d",
          "303": "_",
          "304": "b",
          "305": "y",
          "306": "\"",
          "307": ":",
          "308": "\"",
          "309": "=",
          "310": "{",
          "311": "{",
          "312": " ",
          "313": "$",
          "314": "j",
          "315": "s",
          "316": "o",
          "317": "n",
          "318": ".",
          "319": "g",
          "320": "e",
          "321": "n",
          "322": "e",
          "323": "r",
          "324": "a",
          "325": "t",
          "326": "e",
          "327": "d",
          "328": "_",
          "329": "b",
          "330": "y",
          "331": " ",
          "332": "}",
          "333": "}",
          "334": "\"",
          "335": ",",
          "336": "\"",
          "337": "s",
          "338": "t",
          "339": "a",
          "340": "t",
          "341": "u",
          "342": "s",
          "343": "\"",
          "344": ":",
          "345": "\"",
          "346": "=",
          "347": "{",
          "348": "{",
          "349": " ",
          "350": "$",
          "351": "j",
          "352": "s",
          "353": "o",
          "354": "n",
          "355": ".",
          "356": "s",
          "357": "t",
          "358": "a",
          "359": "t",
          "360": "u",
          "361": "s",
          "362": " ",
          "363": "}",
          "364": "}",
          "365": "\"",
          "366": "}",
          "367": ",",
          "368": "\"",
          "369": "m",
          "370": "a",
          "371": "t",
          "372": "c",
          "373": "h",
          "374": "i",
          "375": "n",
          "376": "g",
          "377": "C",
          "378": "o",
          "379": "l",
          "380": "u",
          "381": "m",
          "382": "n",
          "383": "s",
          "384": "\"",
          "385": ":",
          "386": "[",
          "387": "]",
          "388": ",",
          "389": "\"",
          "390": "s",
          "391": "c",
          "392": "h",
          "393": "e",
          "394": "m",
          "395": "a",
          "396": "\"",
          "397": ":",
          "398": "[",
          "399": "{",
          "400": "\"",
          "401": "i",
          "402": "d",
          "403": "\"",
          "404": ":",
          "405": "\"",
          "406": "s",
          "407": "l",
          "408": "u",
          "409": "g",
          "410": "\"",
          "411": ",",
          "412": "\"",
          "413": "d",
          "414": "i",
          "415": "s",
          "416": "p",
          "417": "l",
          "418": "a",
          "419": "y",
          "420": "N",
          "421": "a",
          "422": "m",
          "423": "e",
          "424": "\"",
          "425": ":",
          "426": "\"",
          "427": "s",
          "428": "l",
          "429": "u",
          "430": "g",
          "431": "\"",
          "432": ",",
          "433": "\"",
          "434": "r",
          "435": "e",
          "436": "q",
          "437": "u",
          "438": "i",
          "439": "r",
          "440": "e",
          "441": "d",
          "442": "\"",
          "443": ":",
          "444": "t",
          "445": "r",
          "446": "u",
          "447": "e",
          "448": ",",
          "449": "\"",
          "450": "d",
          "451": "e",
          "452": "f",
          "453": "a",
          "454": "u",
          "455": "l",
          "456": "t",
          "457": "M",
          "458": "a",
          "459": "t",
          "460": "c",
          "461": "h",
          "462": "\"",
          "463": ":",
          "464": "f",
          "465": "a",
          "466": "l",
          "467": "s",
          "468": "e",
          "469": ",",
          "470": "\"",
          "471": "d",
          "472": "i",
          "473": "s",
          "474": "p",
          "475": "l",
          "476": "a",
          "477": "y",
          "478": "\"",
          "479": ":",
          "480": "t",
          "481": "r",
          "482": "u",
          "483": "e",
          "484": ",",
          "485": "\"",
          "486": "t",
          "487": "y",
          "488": "p",
          "489": "e",
          "490": "\"",
          "491": ":",
          "492": "\"",
          "493": "s",
          "494": "t",
          "495": "r",
          "496": "i",
          "497": "n",
          "498": "g",
          "499": "\"",
          "500": ",",
          "501": "\"",
          "502": "c",
          "503": "a",
          "504": "n",
          "505": "B",
          "506": "e",
          "507": "U",
          "508": "s",
          "509": "e",
          "510": "d",
          "511": "T",
          "512": "o",
          "513": "M",
          "514": "a",
          "515": "t",
          "516": "c",
          "517": "h",
          "518": "\"",
          "519": ":",
          "520": "t",
          "521": "r",
          "522": "u",
          "523": "e",
          "524": "}",
          "525": ",",
          "526": "{",
          "527": "\"",
          "528": "i",
          "529": "d",
          "530": "\"",
          "531": ":",
          "532": "\"",
          "533": "p",
          "534": "i",
          "535": "l",
          "536": "l",
          "537": "a",
          "538": "r",
          "539": "\"",
          "540": ",",
          "541": "\"",
          "542": "d",
          "543": "i",
          "544": "s",
          "545": "p",
          "546": "l",
          "547": "a",
          "548": "y",
          "549": "N",
          "550": "a",
          "551": "m",
          "552": "e",
          "553": "\"",
          "554": ":",
          "555": "\"",
          "556": "p",
          "557": "i",
          "558": "l",
          "559": "l",
          "560": "a",
          "561": "r",
          "562": "\"",
          "563": ",",
          "564": "\"",
          "565": "r",
          "566": "e",
          "567": "q",
          "568": "u",
          "569": "i",
          "570": "r",
          "571": "e",
          "572": "d",
          "573": "\"",
          "574": ":",
          "575": "t",
          "576": "r",
          "577": "u",
          "578": "e",
          "579": ",",
          "580": "\"",
          "581": "d",
          "582": "e",
          "583": "f",
          "584": "a",
          "585": "u",
          "586": "l",
          "587": "t",
          "588": "M",
          "589": "a",
          "590": "t",
          "591": "c",
          "592": "h",
          "593": "\"",
          "594": ":",
          "595": "f",
          "596": "a",
          "597": "l",
          "598": "s",
          "599": "e",
          "600": ",",
          "601": "\"",
          "602": "d",
          "603": "i",
          "604": "s",
          "605": "p",
          "606": "l",
          "607": "a",
          "608": "y",
          "609": "\"",
          "610": ":",
          "611": "t",
          "612": "r",
          "613": "u",
          "614": "e",
          "615": ",",
          "616": "\"",
          "617": "t",
          "618": "y",
          "619": "p",
          "620": "e",
          "621": "\"",
          "622": ":",
          "623": "\"",
          "624": "s",
          "625": "t",
          "626": "r",
          "627": "i",
          "628": "n",
          "629": "g",
          "630": "\"",
          "631": ",",
          "632": "\"",
          "633": "c",
          "634": "a",
          "635": "n",
          "636": "B",
          "637": "e",
          "638": "U",
          "639": "s",
          "640": "e",
          "641": "d",
          "642": "T",
          "643": "o",
          "644": "M",
          "645": "a",
          "646": "t",
          "647": "c",
          "648": "h",
          "649": "\"",
          "650": ":",
          "651": "t",
          "652": "r",
          "653": "u",
          "654": "e",
          "655": "}",
          "656": ",",
          "657": "{",
          "658": "\"",
          "659": "i",
          "660": "d",
          "661": "\"",
          "662": ":",
          "663": "\"",
          "664": "t",
          "665": "i",
          "666": "t",
          "667": "l",
          "668": "e",
          "669": "\"",
          "670": ",",
          "671": "\"",
          "672": "d",
          "673": "i",
          "674": "s",
          "675": "p",
          "676": "l",
          "677": "a",
          "678": "y",
          "679": "N",
          "680": "a",
          "681": "m",
          "682": "e",
          "683": "\"",
          "684": ":",
          "685": "\"",
          "686": "t",
          "687": "i",
          "688": "t",
          "689": "l",
          "690": "e",
          "691": "\"",
          "692": ",",
          "693": "\"",
          "694": "r",
          "695": "e",
          "696": "q",
          "697": "u",
          "698": "i",
          "699": "r",
          "700": "e",
          "701": "d",
          "702": "\"",
          "703": ":",
          "704": "t",
          "705": "r",
          "706": "u",
          "707": "e",
          "708": ",",
          "709": "\"",
          "710": "d",
          "711": "e",
          "712": "f",
          "713": "a",
          "714": "u",
          "715": "l",
          "716": "t",
          "717": "M",
          "718": "a",
          "719": "t",
          "720": "c",
          "721": "h",
          "722": "\"",
          "723": ":",
          "724": "f",
          "725": "a",
          "726": "l",
          "727": "s",
          "728": "e",
          "729": ",",
          "730": "\"",
          "731": "d",
          "732": "i",
          "733": "s",
          "734": "p",
          "735": "l",
          "736": "a",
          "737": "y",
          "738": "\"",
          "739": ":",
          "740": "t",
          "741": "r",
          "742": "u",
          "743": "e",
          "744": ",",
          "745": "\"",
          "746": "t",
          "747": "y",
          "748": "p",
          "749": "e",
          "750": "\"",
          "751": ":",
          "752": "\"",
          "753": "s",
          "754": "t",
          "755": "r",
          "756": "i",
          "757": "n",
          "758": "g",
          "759": "\"",
          "760": ",",
          "761": "\"",
          "762": "c",
          "763": "a",
          "764": "n",
          "765": "B",
          "766": "e",
          "767": "U",
          "768": "s",
          "769": "e",
          "770": "d",
          "771": "T",
          "772": "o",
          "773": "M",
          "774": "a",
          "775": "t",
          "776": "c",
          "777": "h",
          "778": "\"",
          "779": ":",
          "780": "t",
          "781": "r",
          "782": "u",
          "783": "e",
          "784": "}",
          "785": ",",
          "786": "{",
          "787": "\"",
          "788": "i",
          "789": "d",
          "790": "\"",
          "791": ":",
          "792": "\"",
          "793": "m",
          "794": "e",
          "795": "t",
          "796": "a",
          "797": "_",
          "798": "d",
          "799": "e",
          "800": "s",
          "801": "c",
          "802": "r",
          "803": "i",
          "804": "p",
          "805": "t",
          "806": "i",
          "807": "o",
          "808": "n",
          "809": "\"",
          "810": ",",
          "811": "\"",
          "812": "d",
          "813": "i",
          "814": "s",
          "815": "p",
          "816": "l",
          "817": "a",
          "818": "y",
          "819": "N",
          "820": "a",
          "821": "m",
          "822": "e",
          "823": "\"",
          "824": ":",
          "825": "\"",
          "826": "m",
          "827": "e",
          "828": "t",
          "829": "a",
          "830": "_",
          "831": "d",
          "832": "e",
          "833": "s",
          "834": "c",
          "835": "r",
          "836": "i",
          "837": "p",
          "838": "t",
          "839": "i",
          "840": "o",
          "841": "n",
          "842": "\"",
          "843": ",",
          "844": "\"",
          "845": "r",
          "846": "e",
          "847": "q",
          "848": "u",
          "849": "i",
          "850": "r",
          "851": "e",
          "852": "d",
          "853": "\"",
          "854": ":",
          "855": "t",
          "856": "r",
          "857": "u",
          "858": "e",
          "859": ",",
          "860": "\"",
          "861": "d",
          "862": "e",
          "863": "f",
          "864": "a",
          "865": "u",
          "866": "l",
          "867": "t",
          "868": "M",
          "869": "a",
          "870": "t",
          "871": "c",
          "872": "h",
          "873": "\"",
          "874": ":",
          "875": "f",
          "876": "a",
          "877": "l",
          "878": "s",
          "879": "e",
          "880": ",",
          "881": "\"",
          "882": "d",
          "883": "i",
          "884": "s",
          "885": "p",
          "886": "l",
          "887": "a",
          "888": "y",
          "889": "\"",
          "890": ":",
          "891": "t",
          "892": "r",
          "893": "u",
          "894": "e",
          "895": ",",
          "896": "\"",
          "897": "t",
          "898": "y",
          "899": "p",
          "900": "e",
          "901": "\"",
          "902": ":",
          "903": "\"",
          "904": "s",
          "905": "t",
          "906": "r",
          "907": "i",
          "908": "n",
          "909": "g",
          "910": "\"",
          "911": ",",
          "912": "\"",
          "913": "c",
          "914": "a",
          "915": "n",
          "916": "B",
          "917": "e",
          "918": "U",
          "919": "s",
          "920": "e",
          "921": "d",
          "922": "T",
          "923": "o",
          "924": "M",
          "925": "a",
          "926": "t",
          "927": "c",
          "928": "h",
          "929": "\"",
          "930": ":",
          "931": "t",
          "932": "r",
          "933": "u",
          "934": "e",
          "935": "}",
          "936": ",",
          "937": "{",
          "938": "\"",
          "939": "i",
          "940": "d",
          "941": "\"",
          "942": ":",
          "943": "\"",
          "944": "k",
          "945": "e",
          "946": "y",
          "947": "w",
          "948": "o",
          "949": "r",
          "950": "d",
          "951": "s",
          "952": "\"",
          "953": ",",
          "954": "\"",
          "955": "d",
          "956": "i",
          "957": "s",
          "958": "p",
          "959": "l",
          "960": "a",
          "961": "y",
          "962": "N",
          "963": "a",
          "964": "m",
          "965": "e",
          "966": "\"",
          "967": ":",
          "968": "\"",
          "969": "k",
          "970": "e",
          "971": "y",
          "972": "w",
          "973": "o",
          "974": "r",
          "975": "d",
          "976": "s",
          "977": "\"",
          "978": ",",
          "979": "\"",
          "980": "r",
          "981": "e",
          "982": "q",
          "983": "u",
          "984": "i",
          "985": "r",
          "986": "e",
          "987": "d",
          "988": "\"",
          "989": ":",
          "990": "f",
          "991": "a",
          "992": "l",
          "993": "s",
          "994": "e",
          "995": ",",
          "996": "\"",
          "997": "d",
          "998": "e",
          "999": "f",
          "1000": "a",
          "1001": "u",
          "1002": "l",
          "1003": "t",
          "1004": "M",
          "1005": "a",
          "1006": "t",
          "1007": "c",
          "1008": "h",
          "1009": "\"",
          "1010": ":",
          "1011": "f",
          "1012": "a",
          "1013": "l",
          "1014": "s",
          "1015": "e",
          "1016": ",",
          "1017": "\"",
          "1018": "d",
          "1019": "i",
          "1020": "s",
          "1021": "p",
          "1022": "l",
          "1023": "a",
          "1024": "y",
          "1025": "\"",
          "1026": ":",
          "1027": "t",
          "1028": "r",
          "1029": "u",
          "1030": "e",
          "1031": ",",
          "1032": "\"",
          "1033": "t",
          "1034": "y",
          "1035": "p",
          "1036": "e",
          "1037": "\"",
          "1038": ":",
          "1039": "\"",
          "1040": "a",
          "1041": "r",
          "1042": "r",
          "1043": "a",
          "1044": "y",
          "1045": "\"",
          "1046": ",",
          "1047": "\"",
          "1048": "c",
          "1049": "a",
          "1050": "n",
          "1051": "B",
          "1052": "e",
          "1053": "U",
          "1054": "s",
          "1055": "e",
          "1056": "d",
          "1057": "T",
          "1058": "o",
          "1059": "M",
          "1060": "a",
          "1061": "t",
          "1062": "c",
          "1063": "h",
          "1064": "\"",
          "1065": ":",
          "1066": "t",
          "1067": "r",
          "1068": "u",
          "1069": "e",
          "1070": "}",
          "1071": ",",
          "1072": "{",
          "1073": "\"",
          "1074": "i",
          "1075": "d",
          "1076": "\"",
          "1077": ":",
          "1078": "\"",
          "1079": "c",
          "1080": "o",
          "1081": "n",
          "1082": "t",
          "1083": "e",
          "1084": "n",
          "1085": "t",
          "1086": "_",
          "1087": "j",
          "1088": "s",
          "1089": "o",
          "1090": "n",
          "1091": "\"",
          "1092": ",",
          "1093": "\"",
          "1094": "d",
          "1095": "i",
          "1096": "s",
          "1097": "p",
          "1098": "l",
          "1099": "a",
          "1100": "y",
          "1101": "N",
          "1102": "a",
          "1103": "m",
          "1104": "e",
          "1105": "\"",
          "1106": ":",
          "1107": "\"",
          "1108": "c",
          "1109": "o",
          "1110": "n",
          "1111": "t",
          "1112": "e",
          "1113": "n",
          "1114": "t",
          "1115": "_",
          "1116": "j",
          "1117": "s",
          "1118": "o",
          "1119": "n",
          "1120": "\"",
          "1121": ",",
          "1122": "\"",
          "1123": "r",
          "1124": "e",
          "1125": "q",
          "1126": "u",
          "1127": "i",
          "1128": "r",
          "1129": "e",
          "1130": "d",
          "1131": "\"",
          "1132": ":",
          "1133": "t",
          "1134": "r",
          "1135": "u",
          "1136": "e",
          "1137": ",",
          "1138": "\"",
          "1139": "d",
          "1140": "e",
          "1141": "f",
          "1142": "a",
          "1143": "u",
          "1144": "l",
          "1145": "t",
          "1146": "M",
          "1147": "a",
          "1148": "t",
          "1149": "c",
          "1150": "h",
          "1151": "\"",
          "1152": ":",
          "1153": "f",
          "1154": "a",
          "1155": "l",
          "1156": "s",
          "1157": "e",
          "1158": ",",
          "1159": "\"",
          "1160": "d",
          "1161": "i",
          "1162": "s",
          "1163": "p",
          "1164": "l",
          "1165": "a",
          "1166": "y",
          "1167": "\"",
          "1168": ":",
          "1169": "t",
          "1170": "r",
          "1171": "u",
          "1172": "e",
          "1173": ",",
          "1174": "\"",
          "1175": "t",
          "1176": "y",
          "1177": "p",
          "1178": "e",
          "1179": "\"",
          "1180": ":",
          "1181": "\"",
          "1182": "o",
          "1183": "b",
          "1184": "j",
          "1185": "e",
          "1186": "c",
          "1187": "t",
          "1188": "\"",
          "1189": ",",
          "1190": "\"",
          "1191": "c",
          "1192": "a",
          "1193": "n",
          "1194": "B",
          "1195": "e",
          "1196": "U",
          "1197": "s",
          "1198": "e",
          "1199": "d",
          "1200": "T",
          "1201": "o",
          "1202": "M",
          "1203": "a",
          "1204": "t",
          "1205": "c",
          "1206": "h",
          "1207": "\"",
          "1208": ":",
          "1209": "t",
          "1210": "r",
          "1211": "u",
          "1212": "e",
          "1213": "}",
          "1214": ",",
          "1215": "{",
          "1216": "\"",
          "1217": "i",
          "1218": "d",
          "1219": "\"",
          "1220": ":",
          "1221": "\"",
          "1222": "w",
          "1223": "o",
          "1224": "r",
          "1225": "d",
          "1226": "_",
          "1227": "c",
          "1228": "o",
          "1229": "u",
          "1230": "n",
          "1231": "t",
          "1232": "\"",
          "1233": ",",
          "1234": "\"",
          "1235": "d",
          "1236": "i",
          "1237": "s",
          "1238": "p",
          "1239": "l",
          "1240": "a",
          "1241": "y",
          "1242": "N",
          "1243": "a",
          "1244": "m",
          "1245": "e",
          "1246": "\"",
          "1247": ":",
          "1248": "\"",
          "1249": "w",
          "1250": "o",
          "1251": "r",
          "1252": "d",
          "1253": "_",
          "1254": "c",
          "1255": "o",
          "1256": "u",
          "1257": "n",
          "1258": "t",
          "1259": "\"",
          "1260": ",",
          "1261": "\"",
          "1262": "r",
          "1263": "e",
          "1264": "q",
          "1265": "u",
          "1266": "i",
          "1267": "r",
          "1268": "e",
          "1269": "d",
          "1270": "\"",
          "1271": ":",
          "1272": "f",
          "1273": "a",
          "1274": "l",
          "1275": "s",
          "1276": "e",
          "1277": ",",
          "1278": "\"",
          "1279": "d",
          "1280": "e",
          "1281": "f",
          "1282": "a",
          "1283": "u",
          "1284": "l",
          "1285": "t",
          "1286": "M",
          "1287": "a",
          "1288": "t",
          "1289": "c",
          "1290": "h",
          "1291": "\"",
          "1292": ":",
          "1293": "f",
          "1294": "a",
          "1295": "l",
          "1296": "s",
          "1297": "e",
          "1298": ",",
          "1299": "\"",
          "1300": "d",
          "1301": "i",
          "1302": "s",
          "1303": "p",
          "1304": "l",
          "1305": "a",
          "1306": "y",
          "1307": "\"",
          "1308": ":",
          "1309": "t",
          "1310": "r",
          "1311": "u",
          "1312": "e",
          "1313": ",",
          "1314": "\"",
          "1315": "t",
          "1316": "y",
          "1317": "p",
          "1318": "e",
          "1319": "\"",
          "1320": ":",
          "1321": "\"",
          "1322": "n",
          "1323": "u",
          "1324": "m",
          "1325": "b",
          "1326": "e",
          "1327": "r",
          "1328": "\"",
          "1329": ",",
          "1330": "\"",
          "1331": "c",
          "1332": "a",
          "1333": "n",
          "1334": "B",
          "1335": "e",
          "1336": "U",
          "1337": "s",
          "1338": "e",
          "1339": "d",
          "1340": "T",
          "1341": "o",
          "1342": "M",
          "1343": "a",
          "1344": "t",
          "1345": "c",
          "1346": "h",
          "1347": "\"",
          "1348": ":",
          "1349": "t",
          "1350": "r",
          "1351": "u",
          "1352": "e",
          "1353": "}",
          "1354": ",",
          "1355": "{",
          "1356": "\"",
          "1357": "i",
          "1358": "d",
          "1359": "\"",
          "1360": ":",
          "1361": "\"",
          "1362": "g",
          "1363": "e",
          "1364": "n",
          "1365": "e",
          "1366": "r",
          "1367": "a",
          "1368": "t",
          "1369": "e",
          "1370": "d",
          "1371": "_",
          "1372": "b",
          "1373": "y",
          "1374": "\"",
          "1375": ",",
          "1376": "\"",
          "1377": "d",
          "1378": "i",
          "1379": "s",
          "1380": "p",
          "1381": "l",
          "1382": "a",
          "1383": "y",
          "1384": "N",
          "1385": "a",
          "1386": "m",
          "1387": "e",
          "1388": "\"",
          "1389": ":",
          "1390": "\"",
          "1391": "g",
          "1392": "e",
          "1393": "n",
          "1394": "e",
          "1395": "r",
          "1396": "a",
          "1397": "t",
          "1398": "e",
          "1399": "d",
          "1400": "_",
          "1401": "b",
          "1402": "y",
          "1403": "\"",
          "1404": ",",
          "1405": "\"",
          "1406": "r",
          "1407": "e",
          "1408": "q",
          "1409": "u",
          "1410": "i",
          "1411": "r",
          "1412": "e",
          "1413": "d",
          "1414": "\"",
          "1415": ":",
          "1416": "f",
          "1417": "a",
          "1418": "l",
          "1419": "s",
          "1420": "e",
          "1421": ",",
          "1422": "\"",
          "1423": "d",
          "1424": "e",
          "1425": "f",
          "1426": "a",
          "1427": "u",
          "1428": "l",
          "1429": "t",
          "1430": "M",
          "1431": "a",
          "1432": "t",
          "1433": "c",
          "1434": "h",
          "1435": "\"",
          "1436": ":",
          "1437": "f",
          "1438": "a",
          "1439": "l",
          "1440": "s",
          "1441": "e",
          "1442": ",",
          "1443": "\"",
          "1444": "d",
          "1445": "i",
          "1446": "s",
          "1447": "p",
          "1448": "l",
          "1449": "a",
          "1450": "y",
          "1451": "\"",
          "1452": ":",
          "1453": "t",
          "1454": "r",
          "1455": "u",
          "1456": "e",
          "1457": ",",
          "1458": "\"",
          "1459": "t",
          "1460": "y",
          "1461": "p",
          "1462": "e",
          "1463": "\"",
          "1464": ":",
          "1465": "\"",
          "1466": "s",
          "1467": "t",
          "1468": "r",
          "1469": "i",
          "1470": "n",
          "1471": "g",
          "1472": "\"",
          "1473": ",",
          "1474": "\"",
          "1475": "c",
          "1476": "a",
          "1477": "n",
          "1478": "B",
          "1479": "e",
          "1480": "U",
          "1481": "s",
          "1482": "e",
          "1483": "d",
          "1484": "T",
          "1485": "o",
          "1486": "M",
          "1487": "a",
          "1488": "t",
          "1489": "c",
          "1490": "h",
          "1491": "\"",
          "1492": ":",
          "1493": "t",
          "1494": "r",
          "1495": "u",
          "1496": "e",
          "1497": "}",
          "1498": ",",
          "1499": "{",
          "1500": "\"",
          "1501": "i",
          "1502": "d",
          "1503": "\"",
          "1504": ":",
          "1505": "\"",
          "1506": "s",
          "1507": "t",
          "1508": "a",
          "1509": "t",
          "1510": "u",
          "1511": "s",
          "1512": "\"",
          "1513": ",",
          "1514": "\"",
          "1515": "d",
          "1516": "i",
          "1517": "s",
          "1518": "p",
          "1519": "l",
          "1520": "a",
          "1521": "y",
          "1522": "N",
          "1523": "a",
          "1524": "m",
          "1525": "e",
          "1526": "\"",
          "1527": ":",
          "1528": "\"",
          "1529": "s",
          "1530": "t",
          "1531": "a",
          "1532": "t",
          "1533": "u",
          "1534": "s",
          "1535": "\"",
          "1536": ",",
          "1537": "\"",
          "1538": "r",
          "1539": "e",
          "1540": "q",
          "1541": "u",
          "1542": "i",
          "1543": "r",
          "1544": "e",
          "1545": "d",
          "1546": "\"",
          "1547": ":",
          "1548": "f",
          "1549": "a",
          "1550": "l",
          "1551": "s",
          "1552": "e",
          "1553": ",",
          "1554": "\"",
          "1555": "d",
          "1556": "e",
          "1557": "f",
          "1558": "a",
          "1559": "u",
          "1560": "l",
          "1561": "t",
          "1562": "M",
          "1563": "a",
          "1564": "t",
          "1565": "c",
          "1566": "h",
          "1567": "\"",
          "1568": ":",
          "1569": "f",
          "1570": "a",
          "1571": "l",
          "1572": "s",
          "1573": "e",
          "1574": ",",
          "1575": "\"",
          "1576": "d",
          "1577": "i",
          "1578": "s",
          "1579": "p",
          "1580": "l",
          "1581": "a",
          "1582": "y",
          "1583": "\"",
          "1584": ":",
          "1585": "t",
          "1586": "r",
          "1587": "u",
          "1588": "e",
          "1589": ",",
          "1590": "\"",
          "1591": "t",
          "1592": "y",
          "1593": "p",
          "1594": "e",
          "1595": "\"",
          "1596": ":",
          "1597": "\"",
          "1598": "s",
          "1599": "t",
          "1600": "r",
          "1601": "i",
          "1602": "n",
          "1603": "g",
          "1604": "\"",
          "1605": ",",
          "1606": "\"",
          "1607": "c",
          "1608": "a",
          "1609": "n",
          "1610": "B",
          "1611": "e",
          "1612": "U",
          "1613": "s",
          "1614": "e",
          "1615": "d",
          "1616": "T",
          "1617": "o",
          "1618": "M",
          "1619": "a",
          "1620": "t",
          "1621": "c",
          "1622": "h",
          "1623": "\"",
          "1624": ":",
          "1625": "t",
          "1626": "r",
          "1627": "u",
          "1628": "e",
          "1629": "}",
          "1630": "]",
          "1631": ",",
          "1632": "\"",
          "1633": "a",
          "1634": "t",
          "1635": "t",
          "1636": "e",
          "1637": "m",
          "1638": "p",
          "1639": "t",
          "1640": "T",
          "1641": "o",
          "1642": "C",
          "1643": "o",
          "1644": "n",
          "1645": "v",
          "1646": "e",
          "1647": "r",
          "1648": "t",
          "1649": "T",
          "1650": "y",
          "1651": "p",
          "1652": "e",
          "1653": "s",
          "1654": "\"",
          "1655": ":",
          "1656": "f",
          "1657": "a",
          "1658": "l",
          "1659": "s",
          "1660": "e",
          "1661": ",",
          "1662": "\"",
          "1663": "c",
          "1664": "o",
          "1665": "n",
          "1666": "v",
          "1667": "e",
          "1668": "r",
          "1669": "t",
          "1670": "F",
          "1671": "i",
          "1672": "e",
          "1673": "l",
          "1674": "d",
          "1675": "s",
          "1676": "T",
          "1677": "o",
          "1678": "S",
          "1679": "t",
          "1680": "r",
          "1681": "i",
          "1682": "n",
          "1683": "g",
          "1684": "\"",
          "1685": ":",
          "1686": "f",
          "1687": "a",
          "1688": "l",
          "1689": "s",
          "1690": "e",
          "1691": "}",
          "mappingMode": "defineBelow",
          "value": {
            "slug": "={{ $json.slug }}",
            "pillar": "={{ $json.pillar }}",
            "title": "={{ $json.title }}",
            "meta_description": "={{ $json.meta_description }}",
            "keywords": "={{ $json.keywords }}",
            "content_json": "={{ $json.content_json }}",
            "word_count": "={{ $json.word_count }}",
            "generated_by": "={{ $json.generated_by }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pillar",
              "displayName": "pillar",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "meta_description",
              "displayName": "meta_description",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content_json",
              "displayName": "content_json",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "word_count",
              "displayName": "word_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_at",
              "displayName": "generated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_by",
              "displayName": "generated_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reviewer_user_id",
              "displayName": "reviewer_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reviewed_at",
              "displayName": "reviewed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reviewer_notes",
              "displayName": "reviewer_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rejection_reason",
              "displayName": "rejection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "id",
            "slug",
            "title",
            "pillar"
          ]
        }
      },
      "id": "f76fa72c-0561-4c13-927e-93f09aed3f3b",
      "name": "INSERT blog_drafts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1680,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "OrMhexleB5Cyk2m2",
          "name": "Supabase Blog Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE blog_settings SET value = to_jsonb($1::text), updated_at = NOW() WHERE key = 'last_pillar';",
        "options": {
          "queryReplacement": "={{ $json.pillar }}"
        }
      },
      "id": "5408ae51-c586-44ef-bc55-22e8f67e4605",
      "name": "UPDATE last_pillar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1920,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "OrMhexleB5Cyk2m2",
          "name": "Supabase Blog Postgres"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-5152728039",
        "text": "={{ \"<b>📚 Centro Clínico Okazaki · Blog</b>\\n\\n\" + $input.all().length + \" novo(s) rascunho(s) aguardando revisão da Dra. Jane:\\n\\n\" + $input.all().map((i, idx) => (idx + 1) + \". <b>\" + i.json.title + \"</b>\\n   <i>\" + i.json.pillar + \"</i>\").join(\"\\n\\n\") + \"\\n\\nAcesse o editor para revisar, editar, aprovar ou rejeitar.\" }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Abrir editor",
                    "additionalFields": {
                      "url": "https://editor.clinicaokazaki.com/inbox"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "ea71c008-6d5d-41cb-8ba8-eda5abe592e2",
      "name": "Notificar Grupo Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2160,
        208
      ],
      "executeOnce": true,
      "webhookId": "4ce164f8-ab9b-46ea-9e33-57684060bf76",
      "credentials": {
        "telegramApi": {
          "id": "pxD4NXXhJpW9E7Jn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Blog Gerador Semanal\n\nDisparo: segunda 08:00 BRT (UTC 11:00).\n\nINSERT usa operation 'insert' nativo (mapping defineBelow) — evita bug de queryReplacement com vírgulas dentro de JSON.\n\nCredentials: Supabase Blog Postgres, Anthropic Blog (HTTP + cache_control + assistant prefill '{'), Telegram Blog Bot.\n\nGrupo Telegram chat_id: -5152728039\n\n5 pilares: gastroenterologia, endoscopia digestiva, colonoscopia, hepatologia, geriatria.",
        "height": 200,
        "width": 780,
        "color": 5
      },
      "id": "2e26e29d-284f-4736-9b6c-03c4f0072f46",
      "name": "Sticky Note 09db0a20",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS(SELECT 1 FROM blog_drafts WHERE slug = $1 OR lower(trim(title)) = lower(trim($2))) AS is_dup;",
        "options": {
          "queryReplacement": "={{ [$json.slug, $json.title] }}"
        }
      },
      "id": "chk-dup-1",
      "name": "Check Dup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1700,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "OrMhexleB5Cyk2m2",
          "name": "Supabase Blog Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "mrg-dup-1",
      "name": "Merge Dup",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1900,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.is_dup }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-dup-1",
      "name": "Eh Dup?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2100,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "-5152728039",
        "text": "={{ '<b>⚠️ Blog · Rascunho duplicado descartado</b>\\n\\nTítulo: <i>' + $json.title + '</i>\\nSlug: <code>' + $json.slug + '</code>\\nPilar: ' + $json.pillar + '\\n\\nMotivo: slug ou título já existe em blog_drafts.' }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "tg-desc-1",
      "name": "Telegram Descartado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2300,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "pxD4NXXhJpW9E7Jn",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "015b6293-b543-4b22-9b6e-d8632617c221",
      "name": "SELECT Exemplos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        96
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pillar, title, content_json FROM (SELECT pillar, title, content_json, ROW_NUMBER() OVER (PARTITION BY pillar ORDER BY reviewed_at DESC NULLS LAST) rn FROM blog_drafts WHERE status IN ('approved','published')) t WHERE rn <= 3;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "OrMhexleB5Cyk2m2",
          "name": "Supabase Blog Postgres"
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "80aab321-b1d6-4529-bf47-3203d78ae3bc",
      "name": "SELECT Regras Ativas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1200,
        96
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rule_text, scope FROM blog_style_rules WHERE status='active' ORDER BY decided_at NULLS LAST;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "OrMhexleB5Cyk2m2",
          "name": "Supabase Blog Postgres"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, pillar, topic_text FROM blog_topic_suggestions WHERE status='pending' ORDER BY created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        80
      ],
      "id": "72a57cde-8667-4d2b-aa87-7f8bc435a954",
      "name": "SELECT Sugestoes",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "OrMhexleB5Cyk2m2",
          "name": "Supabase Blog Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE blog_topic_suggestions SET status='used', used_at=NOW() WHERE id = ANY($1::uuid[]) AND status='pending';",
        "options": {
          "queryReplacement": "={{ ['{' + $('Escolher 6 Pilares + Prompt').all().map(i => i.json.suggestion_id).filter(Boolean).join(',') + '}'] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        860,
        260
      ],
      "id": "55e31d68-2116-409a-b596-a239b3412a89",
      "name": "Marcar Sugestao Usada",
      "executeOnce": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "OrMhexleB5Cyk2m2",
          "name": "Supabase Blog Postgres"
        }
      }
    }
  ],
  "connections": {
    "Toda Segunda 08:00 BRT": {
      "main": [
        [
          {
            "node": "Ler Settings + Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Settings + Buffer": {
      "main": [
        [
          {
            "node": "Pode Gerar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode Gerar?": {
      "main": [
        [
          {
            "node": "SELECT Exemplos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Claude Sonnet": {
      "main": [
        [
          {
            "node": "Parse + Validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Validar": {
      "main": [
        [
          {
            "node": "Check Dup",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Dup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT blog_drafts": {
      "main": [
        [
          {
            "node": "UPDATE last_pillar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE last_pillar": {
      "main": [
        [
          {
            "node": "Notificar Grupo Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escolher 6 Pilares + Prompt": {
      "main": [
        [
          {
            "node": "Anthropic Claude Sonnet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Marcar Sugestao Usada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Dup": {
      "main": [
        [
          {
            "node": "Merge Dup",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Dup": {
      "main": [
        [
          {
            "node": "Eh Dup?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eh Dup?": {
      "main": [
        [
          {
            "node": "Telegram Descartado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INSERT blog_drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT Exemplos": {
      "main": [
        [
          {
            "node": "SELECT Regras Ativas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT Regras Ativas": {
      "main": [
        [
          {
            "node": "SELECT Sugestoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT Sugestoes": {
      "main": [
        [
          {
            "node": "Escolher 6 Pilares + Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  }
}