n8n-workflows/blog-aprovar-regra.json
{"updatedAt":"2026-06-08T14:06:22.822Z","createdAt":"2026-06-07T15:39:51.452Z","id":"3UanDymKb3L8tTAA","name":"Blog · Aprovar Regra","description":null,"active":true,"isArchived":false,"nodes":[{"id":"a8368a3c-8de0-4927-ab86-bf1433ad1ff6","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[100,300],"parameters":{"updates":["callback_query"]},"credentials":{"telegramApi":{"id":"pxD4NXXhJpW9E7Jn","name":"Telegram account"}},"webhookId":"ad984aab-89d2-4798-a843-68554b3250b8"},{"id":"9d0f5c13-0f46-4fb8-95f8-e088e9679334","name":"Parse callback","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,300],"parameters":{"jsCode":"const cb = $json.callback_query || ($json.body && $json.body.callback_query) || $json;\nconst data = (cb && cb.data) || '';\nconst sep = data.indexOf(':');\nconst acao = sep >= 0 ? data.slice(0, sep) : '';\nconst ruleId = sep >= 0 ? data.slice(sep + 1) : '';\nconst uuidRe = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!['aprovar', 'recusar'].includes(acao) || !uuidRe.test(ruleId)) {\n  return [];\n}\nconst status = acao === 'aprovar' ? 'active' : 'rejected';\nreturn [{ json: {\n  ruleId,\n  status,\n  acao,\n  chatId: cb.message && cb.message.chat && cb.message.chat.id,\n  messageId: cb.message && cb.message.message_id,\n  callbackQueryId: cb.id,\n  originalText: (cb.message && cb.message.text) || ''\n} }];"}},{"id":"3b1495aa-dbd9-491b-85bd-b856959f6357","name":"UPDATE regra","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[540,300],"parameters":{"operation":"executeQuery","query":"UPDATE blog_style_rules SET status=$1, decided_at=NOW(), decided_via='telegram'\nWHERE id=$2::uuid AND status='proposed' RETURNING id, rule_text, status;","options":{"queryReplacement":"={{ [$json.status, $json.ruleId] }}"}},"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"id":"879d5cc2-80b9-449c-8584-981d7645a850","name":"Answer Callback","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[760,300],"parameters":{"operation":"answerCallbackQuery","queryId":"={{ $('Parse callback').item.json.callbackQueryId }}","additionalFields":{"text":"={{ $('Parse callback').item.json.status === 'active' ? 'Aprovada ✅' : 'Recusada ❌' }}"}},"credentials":{"telegramApi":{"id":"pxD4NXXhJpW9E7Jn","name":"Telegram account"}},"onError":"continueRegularOutput"},{"id":"faf165e4-c7fb-44bd-a0ae-d6aca62fb927","name":"Editar Mensagem","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[980,300],"parameters":{"operation":"editMessageText","chatId":"={{ $('Parse callback').item.json.chatId }}","messageId":"={{ $('Parse callback').item.json.messageId }}","text":"={{ $('Parse callback').item.json.originalText + \"\\n\\n\" + ($('Parse callback').item.json.status === 'active' ? '✅ APROVADA' : '❌ RECUSADA') }}","additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"pxD4NXXhJpW9E7Jn","name":"Telegram account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Parse callback","type":"main","index":0}]]},"Parse callback":{"main":[[{"node":"UPDATE regra","type":"main","index":0}]]},"UPDATE regra":{"main":[[{"node":"Answer Callback","type":"main","index":0}]]},"Answer Callback":{"main":[[{"node":"Editar Mensagem","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"e0b4ed7d-ae68-4222-ad95-6a4840aa2de5","activeVersionId":"e0b4ed7d-ae68-4222-ad95-6a4840aa2de5","versionCounter":21,"triggerCount":1,"shared":[{"updatedAt":"2026-06-07T15:39:51.454Z","createdAt":"2026-06-07T15:39:51.454Z","role":"workflow:owner","workflowId":"3UanDymKb3L8tTAA","projectId":"mNuhJVX5r2YbaTma","project":{"updatedAt":"2026-03-23T10:56:34.089Z","createdAt":"2026-03-19T09:34:59.280Z","id":"mNuhJVX5r2YbaTma","name":"Ossamu Okazaki <ossamuok@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8b3518a6-64b3-4cc8-bfa5-294507f67464"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-08T14:06:22.828Z","createdAt":"2026-06-08T14:06:22.828Z","versionId":"e0b4ed7d-ae68-4222-ad95-6a4840aa2de5","workflowId":"3UanDymKb3L8tTAA","nodes":[{"id":"a8368a3c-8de0-4927-ab86-bf1433ad1ff6","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[100,300],"parameters":{"updates":["callback_query"]},"credentials":{"telegramApi":{"id":"pxD4NXXhJpW9E7Jn","name":"Telegram account"}},"webhookId":"ad984aab-89d2-4798-a843-68554b3250b8"},{"id":"9d0f5c13-0f46-4fb8-95f8-e088e9679334","name":"Parse callback","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,300],"parameters":{"jsCode":"const cb = $json.callback_query || ($json.body && $json.body.callback_query) || $json;\nconst data = (cb && cb.data) || '';\nconst sep = data.indexOf(':');\nconst acao = sep >= 0 ? data.slice(0, sep) : '';\nconst ruleId = sep >= 0 ? data.slice(sep + 1) : '';\nconst uuidRe = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!['aprovar', 'recusar'].includes(acao) || !uuidRe.test(ruleId)) {\n  return [];\n}\nconst status = acao === 'aprovar' ? 'active' : 'rejected';\nreturn [{ json: {\n  ruleId,\n  status,\n  acao,\n  chatId: cb.message && cb.message.chat && cb.message.chat.id,\n  messageId: cb.message && cb.message.message_id,\n  callbackQueryId: cb.id,\n  originalText: (cb.message && cb.message.text) || ''\n} }];"}},{"id":"3b1495aa-dbd9-491b-85bd-b856959f6357","name":"UPDATE regra","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[540,300],"parameters":{"operation":"executeQuery","query":"UPDATE blog_style_rules SET status=$1, decided_at=NOW(), decided_via='telegram'\nWHERE id=$2::uuid AND status='proposed' RETURNING id, rule_text, status;","options":{"queryReplacement":"={{ [$json.status, $json.ruleId] }}"}},"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"id":"879d5cc2-80b9-449c-8584-981d7645a850","name":"Answer Callback","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[760,300],"parameters":{"operation":"answerCallbackQuery","queryId":"={{ $('Parse callback').item.json.callbackQueryId }}","additionalFields":{"text":"={{ $('Parse callback').item.json.status === 'active' ? 'Aprovada ✅' : 'Recusada ❌' }}"}},"credentials":{"telegramApi":{"id":"pxD4NXXhJpW9E7Jn","name":"Telegram account"}},"onError":"continueRegularOutput"},{"id":"faf165e4-c7fb-44bd-a0ae-d6aca62fb927","name":"Editar Mensagem","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[980,300],"parameters":{"operation":"editMessageText","chatId":"={{ $('Parse callback').item.json.chatId }}","messageId":"={{ $('Parse callback').item.json.messageId }}","text":"={{ $('Parse callback').item.json.originalText + \"\\n\\n\" + ($('Parse callback').item.json.status === 'active' ? '✅ APROVADA' : '❌ RECUSADA') }}","additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"pxD4NXXhJpW9E7Jn","name":"Telegram account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Parse callback","type":"main","index":0}]]},"Parse callback":{"main":[[{"node":"UPDATE regra","type":"main","index":0}]]},"UPDATE regra":{"main":[[{"node":"Answer Callback","type":"main","index":0}]]},"Answer Callback":{"main":[[{"node":"Editar Mensagem","type":"main","index":0}]]}},"authors":"Ossamu Okazaki","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-08T14:06:24.905Z","id":881,"workflowId":"3UanDymKb3L8tTAA","versionId":"e0b4ed7d-ae68-4222-ad95-6a4840aa2de5","event":"activated","userId":"8b3518a6-64b3-4cc8-bfa5-294507f67464"},{"createdAt":"2026-06-08T14:06:27.575Z","id":883,"workflowId":"3UanDymKb3L8tTAA","versionId":"e0b4ed7d-ae68-4222-ad95-6a4840aa2de5","event":"activated","userId":"8b3518a6-64b3-4cc8-bfa5-294507f67464"},{"createdAt":"2026-06-08T14:06:23.550Z","id":880,"workflowId":"3UanDymKb3L8tTAA","versionId":"e0b4ed7d-ae68-4222-ad95-6a4840aa2de5","event":"deactivated","userId":"8b3518a6-64b3-4cc8-bfa5-294507f67464"},{"createdAt":"2026-06-08T14:06:25.907Z","id":882,"workflowId":"3UanDymKb3L8tTAA","versionId":"e0b4ed7d-ae68-4222-ad95-6a4840aa2de5","event":"deactivated","userId":"8b3518a6-64b3-4cc8-bfa5-294507f67464"}]}}