n8n-workflows/blog-regenerar.json
{
  "name": "Blog · Regenerar Draft",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "blog-regenerar",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b7956e1d-bc7f-4845-bf53-0988b87c4490",
      "name": "Webhook Regenerar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        304
      ],
      "webhookId": "80d19a45-3d71-47dc-b8a0-16e89b439562",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Dy9Bl0UZHMNzB3dx",
          "name": "Header Auth Blog Reestruturar"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, slug, title, pillar, content_json, meta_description FROM blog_drafts WHERE id = $1 LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.body.draft_id] }}"
        }
      },
      "id": "d0a33eff-c390-46a0-97be-8e6957347651",
      "name": "SELECT draft atual",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "OrMhexleB5Cyk2m2",
          "name": "Supabase Blog Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const current = $('SELECT draft atual').first().json;\nconst wh = $('Webhook Regenerar').item.json.body || {};\nconst reviewerNotes = wh.reviewer_notes || '';\nconst pillar = current.pillar;\nconst SYSTEM = 'Voce e um redator medico brasileiro especializado em gastroenterologia, endoscopia digestiva, colonoscopia, hepatologia e geriatria. Escreve para pacientes leigos em PT-BR claro, com revisao CFM. SEMPRE emite o resultado chamando a ferramenta emit_post (objeto BlogPost estruturado, sem texto fora da ferramenta). Inclui ao menos 3 H2, ao menos 1500 palavras, FAQ com 4-6 perguntas, autoria Dra. Jane Erika Frazao Okazaki (CRM-PE 19872, RQE 17633). Sem promessas de cura, sem before-after, sem testimonials.';\nconst SCHEMA = 'SCHEMA EXATO DOS BLOCKS (use os nomes EXATOS dos campos): { type: \"p\", text: \"...\" } | { type: \"h3\", text: \"...\" } | { type: \"ul\", items: [\"item1\", \"item2\"] } | { type: \"callout\", text: \"...\" } | { type: \"warning\", text: \"...\" } | { type: \"inline-cta\", label: \"...\", text: \"...\" } | { type: \"link\", label: \"...\", href: \"/...\" } | { type: \"video\", youtubeId: \"...\", caption: \"...\" }. NUNCA use os campos \"content\", \"body\", \"value\" ou \"heading\" — apenas \"text\", \"items\", \"label\", \"href\", \"youtubeId\", \"caption\". Cada section: { id: \"slug-style\", h2: \"Titulo\", blocks: [...] }. Cada faq: { q: \"pergunta\", a: \"resposta\" }.';\nconst USER = 'Regenere um post de blog medico aplicando OBRIGATORIAMENTE estas mudancas solicitadas pela revisora: ' + reviewerNotes + '\\n\\nPilar: ' + pillar + '. Versao atual (use como ponto de partida e melhore conforme as mudancas): ' + JSON.stringify(current.content_json).slice(0, 8000) + '\\n\\n' + SCHEMA + '\\n\\nEmita via ferramenta emit_post um objeto com este shape: { slug, pillar, title, description (140-160 chars com geo-modifier em Recife), keywords, h1, lead, eyebrow (BLOG dot ' + String(pillar).toUpperCase() + '), breadcrumbLabel, about, excerpt (80-200 chars), sections, faqs, author (Dra. Jane Erika Frazao Okazaki, CRM-PE 19872, RQE 17633, photo /assets/team/jane.webp, bio), publishedAt ISO, updatedAt ISO }. Total 1500-2000 palavras em 4-6 sections com 3+ blocks cada. Inclua ao menos 1 link interno para /' + pillar + '.';\nreturn [{ json: { draft_id: current.id, pillar, system: SYSTEM, user: USER } }];"
      },
      "id": "ba59374e-67e6-4e9c-ac79-b776757fa9c5",
      "name": "Montar Prompt Regenerar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"claude-sonnet-4-5\", max_tokens: 16000, system: [{ type: \"text\", text: $json.system, cache_control: { type: \"ephemeral\" } }], messages: [{ role: \"user\", content: $json.user }], tools: [{ name: \"emit_post\", description: \"Emite o post BlogPost estruturado e validado.\", input_schema: { type: \"object\", properties: { slug: { type: \"string\" }, pillar: { type: \"string\" }, title: { type: \"string\" }, description: { type: \"string\" }, keywords: { type: \"string\" }, h1: { type: \"string\" }, lead: { type: \"string\" }, eyebrow: { type: \"string\" }, breadcrumbLabel: { type: \"string\" }, about: { type: \"string\" }, excerpt: { type: \"string\" }, sections: { type: \"array\" }, faqs: { type: \"array\" }, author: { type: \"object\" }, publishedAt: { type: \"string\" }, updatedAt: { type: \"string\" } }, required: [\"slug\",\"pillar\",\"title\",\"description\",\"keywords\",\"h1\",\"lead\",\"eyebrow\",\"breadcrumbLabel\",\"about\",\"excerpt\",\"sections\",\"faqs\",\"author\",\"publishedAt\",\"updatedAt\"] } }], tool_choice: { type: \"tool\", name: \"emit_post\" } }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "d2ffbe82-ed30-4f39-b423-30bb4f78c3d1",
      "name": "Anthropic Claude Sonnet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        304
      ],
      "credentials": {
        "anthropicApi": {
          "id": "LrxhJlhaR4wnSx31",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $input.item.json;\nconst tu = (raw.content || []).find(c => c.type === 'tool_use');\nif (!tu || !tu.input) throw new Error('Anthropic response sem tool_use. stop_reason=' + (raw.stop_reason || '?'));\nconst parsed = tu.input;\nconst required = ['slug','pillar','title','description','keywords','h1','lead','eyebrow','breadcrumbLabel','about','excerpt','sections','faqs','author','publishedAt','updatedAt'];\nconst missing = required.filter(k => !(k in parsed));\nif (missing.length) throw new Error('Campos faltando: ' + missing.join(','));\nif (!Array.isArray(parsed.sections) || parsed.sections.length === 0) throw new Error('sections vazio');\nif (!Array.isArray(parsed.faqs)) throw new Error('faqs deve ser array');\nif (!/^[a-z0-9][a-z0-9-]*$/.test(parsed.slug)) throw new Error('slug invalido: ' + parsed.slug);\nif (parsed.description.length < 80 || parsed.description.length > 200) throw new Error('description fora de 80-200 chars: ' + parsed.description.length);\nconst flatText = JSON.stringify(parsed);\nconst wordCount = flatText.split(/\\s+/).length;\nconst keywordsArr = typeof parsed.keywords === 'string' ? parsed.keywords.split(',').map(k => k.trim()) : parsed.keywords;\nconst draft_id = $('Montar Prompt Regenerar').item.json.draft_id;\nreturn { json: { draft_id, slug: parsed.slug, pillar: parsed.pillar, title: parsed.title, meta_description: parsed.description, keywords: keywordsArr, content_json: parsed, word_count: wordCount } };"
      },
      "id": "35efd350-bebc-437f-a0e3-3b9806e116d1",
      "name": "Parse + Validar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE blog_drafts SET slug=$1, title=$2, meta_description=$3, keywords=$4::text[], content_json=$5::jsonb, word_count=$6, status='pending_review', reviewer_notes=NULL, updated_at=NOW() WHERE id=$7 RETURNING id, slug, title, pillar;",
        "options": {
          "queryReplacement": "={{ [$json.slug, $json.title, $json.meta_description, \"{\" + $json.keywords.map(k => \"\\\"\" + k + \"\\\"\").join(\",\") + \"}\", JSON.stringify($json.content_json), $json.word_count, $json.draft_id] }}"
        }
      },
      "id": "6ad68333-3e07-4d10-8e0f-1d8ff806333e",
      "name": "UPDATE blog_drafts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "OrMhexleB5Cyk2m2",
          "name": "Supabase Blog Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, draft_id: $json.id, slug: $json.slug, title: $json.title }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "971c46f9-fa8f-4c6a-a6c8-23e6ed2c6e82",
      "name": "Resposta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1680,
        304
      ]
    },
    {
      "id": "3787b1e3-ab77-4ffa-ad01-3f4a178df198",
      "name": "LOG review",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -150,
        520
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO blog_review_log (draft_id, pillar, note_text, original_content_json) VALUES ($1, $2, $3, $4::jsonb);",
        "options": {
          "queryReplacement": "={{ [$json.id, $json.pillar, $('Webhook Regenerar').item.json.body.reviewer_notes ?? '', JSON.stringify($json.content_json)] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "OrMhexleB5Cyk2m2",
          "name": "Supabase Blog Postgres"
        }
      }
    }
  ],
  "connections": {
    "Webhook Regenerar": {
      "main": [
        [
          {
            "node": "SELECT draft atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT draft atual": {
      "main": [
        [
          {
            "node": "LOG review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Prompt Regenerar": {
      "main": [
        [
          {
            "node": "Anthropic Claude Sonnet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Claude Sonnet": {
      "main": [
        [
          {
            "node": "Parse + Validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Validar": {
      "main": [
        [
          {
            "node": "UPDATE blog_drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE blog_drafts": {
      "main": [
        [
          {
            "node": "Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG review": {
      "main": [
        [
          {
            "node": "Montar Prompt Regenerar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  }
}