n8n-workflows/blog-extrair-regras.json
{"updatedAt":"2026-06-07T15:28:32.006Z","createdAt":"2026-06-07T15:21:43.208Z","id":"P5LV0WrD3DSjQUcf","name":"Blog · Extrair Regras","description":null,"active":true,"isArchived":false,"nodes":[{"id":"5cc21657-5a86-4e9e-8c60-81e67cd3df7d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[200,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 12 * * 1"}]}}},{"id":"1dbe50de-6938-4269-be52-aaa1d39fe993","name":"Webhook Manual","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,480],"parameters":{"httpMethod":"POST","path":"blog-extrair-regras","responseMode":"onReceived","options":{}},"webhookId":"c845c2ed-0b1d-4ad0-bfdc-c82d7e5a3501"},{"id":"4727226a-354c-4e3e-bc0a-86e6883a53ec","name":"SELECT logs","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[500,390],"parameters":{"operation":"executeQuery","query":"SELECT id, pillar, note_text FROM blog_review_log WHERE processed_at IS NULL AND note_text IS NOT NULL AND note_text <> '' ORDER BY captured_at LIMIT 50;","options":{}},"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"id":"06210457-3ac8-41da-8c87-072f702a800e","name":"Montar Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[780,390],"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nif (!items || items.length === 0) return [];\n\nconst system = 'Voce destila REGRAS DE ESTILO EDITORIAL a partir de correcoes feitas por uma revisora medica em posts de blog. Proponha de 1 a 5 regras ACIONAVEIS, ESPECIFICAS e CURTAS (imperativas). Para cada uma: scope em {tom, estrutura, seo, factual, outro}. NAO invente regra factual ou de compliance CFM sem evidencia clara nas notas. Responda APENAS JSON valido: {\"rules\":[{\"scope\":\"...\",\"rule_text\":\"...\"}]}';\n\nconst user = 'Notas de correcao acumuladas (cada linha = uma correcao):\\n\\n' +\n  items.map((it, i) => (i+1) + '. [' + (it.json.pillar || '?') + '] ' + it.json.note_text).join('\\n');\n\nconst log_ids = items.map(it => it.json.id);\n\nreturn [{ json: { system, user, log_ids } }];"}},{"id":"570c2bd4-428c-42f1-a4ec-26715cc44df7","name":"Anthropic","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1060,390],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"claude-sonnet-4-5\", max_tokens: 4000, system: [{ type: \"text\", text: $json.system, cache_control: { type: \"ephemeral\" } }], messages: [{ role: \"user\", content: $json.user }, { role: \"assistant\", content: \"{\" }] }) }}","options":{"timeout":180000}},"credentials":{"anthropicApi":{"id":"LrxhJlhaR4wnSx31","name":"Anthropic account"}}},{"id":"397d0c01-332c-4a46-8e44-f74339472f74","name":"Parse Regras","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,390],"parameters":{"mode":"runOnceForAllItems","jsCode":"const raw = ($input.first().json.content?.[0]?.text) ?? ($input.first().json.text) ?? '';\n\n// Strip markdown fences if present\nlet body = raw.replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\n// Ensure starts with {\nif (!body.startsWith('{')) body = '{' + body;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(body);\n} catch(e) {\n  const lastBrace = body.lastIndexOf('}');\n  if (lastBrace > 0) {\n    try { parsed = JSON.parse(body.slice(0, lastBrace + 1)); } catch(e2) {\n      throw new Error('Parse Regras: JSON invalido: ' + e2.message + ' | raw: ' + body.slice(0, 200));\n    }\n  } else {\n    throw new Error('Parse Regras: JSON invalido: ' + e.message + ' | raw: ' + body.slice(0, 200));\n  }\n}\n\nconst logIds = $('Montar Prompt').first().json.log_ids;\nconst validScopes = ['tom','estrutura','seo','factual','outro'];\n\nconst rules = parsed.rules || [];\nif (rules.length === 0) return [];\n\nreturn rules.map(r => ({\n  json: {\n    rule_text: r.rule_text,\n    scope: validScopes.includes(r.scope) ? r.scope : 'outro',\n    source_log_ids: logIds\n  }\n}));"}},{"id":"f786095a-a848-414c-bce9-0750619f978a","name":"INSERT regra","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1620,390],"parameters":{"operation":"executeQuery","query":"INSERT INTO blog_style_rules (rule_text, scope, status, source_log_ids) VALUES ($1, $2, 'proposed', $3::uuid[]) RETURNING id, rule_text, scope;","options":{"queryReplacement":"={{ [$json.rule_text, $json.scope, '{' + ($json.source_log_ids||[]).join(',') + '}'] }}"}},"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"id":"33987e9f-6f02-4615-b382-1870584fdb01","name":"Marcar Processado SQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1900,480],"parameters":{"operation":"executeQuery","query":"UPDATE blog_review_log SET processed_at=NOW() WHERE id = ANY($1::uuid[]) AND processed_at IS NULL;","options":{"queryReplacement":"={{ ['{' + ($('Parse Regras').first().json.source_log_ids||[]).join(',') + '}'] }}"}},"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"id":"56c12584-0926-4b34-a81e-e83a19acea57","name":"Marcar Processado","type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Pass through all INSERT regra items so Telegram has $json.id, scope, rule_text per item\nconst insertItems = $('INSERT regra').all();\nreturn insertItems.map(it => ({\n  json: { id: it.json.id, rule_text: it.json.rule_text, scope: it.json.scope }\n}));"}},{"id":"5e5a63d8-eff1-43e5-a00e-abebd516cf09","name":"Telegram Regra","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2180,390],"parameters":{"chatId":"-5152728039","text":"={{ \"\\U0001F195 <b>Regra proposta</b> [\" + $json.scope + \"]\\n\\n\" + $json.rule_text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Aprovar","additionalFields":{"callback_data":"={{ \"aprovar:\" + $json.id }}"}},{"text":"❌ Recusar","additionalFields":{"callback_data":"={{ \"recusar:\" + $json.id }}"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"credentials":{"telegramApi":{"id":"pxD4NXXhJpW9E7Jn","name":"Telegram account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"SELECT logs","type":"main","index":0}]]},"Webhook Manual":{"main":[[{"node":"SELECT logs","type":"main","index":0}]]},"SELECT logs":{"main":[[{"node":"Montar Prompt","type":"main","index":0}]]},"Montar Prompt":{"main":[[{"node":"Anthropic","type":"main","index":0}]]},"Anthropic":{"main":[[{"node":"Parse Regras","type":"main","index":0}]]},"Parse Regras":{"main":[[{"node":"INSERT regra","type":"main","index":0}]]},"INSERT regra":{"main":[[{"node":"Marcar Processado SQL","type":"main","index":0},{"node":"Marcar Processado","type":"main","index":0}]]},"Marcar Processado":{"main":[[{"node":"Telegram Regra","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"c186b44c-b5f8-46b1-b465-e34ddd64af89","activeVersionId":"c186b44c-b5f8-46b1-b465-e34ddd64af89","versionCounter":7,"triggerCount":2,"shared":[{"updatedAt":"2026-06-07T15:21:43.210Z","createdAt":"2026-06-07T15:21:43.210Z","role":"workflow:owner","workflowId":"P5LV0WrD3DSjQUcf","projectId":"mNuhJVX5r2YbaTma","project":{"updatedAt":"2026-03-23T10:56:34.089Z","createdAt":"2026-03-19T09:34:59.280Z","id":"mNuhJVX5r2YbaTma","name":"Ossamu Okazaki <ossamuok@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8b3518a6-64b3-4cc8-bfa5-294507f67464"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-07T15:28:32.007Z","createdAt":"2026-06-07T15:28:32.007Z","versionId":"c186b44c-b5f8-46b1-b465-e34ddd64af89","workflowId":"P5LV0WrD3DSjQUcf","nodes":[{"id":"5cc21657-5a86-4e9e-8c60-81e67cd3df7d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[200,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 12 * * 1"}]}}},{"id":"1dbe50de-6938-4269-be52-aaa1d39fe993","name":"Webhook Manual","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,480],"parameters":{"httpMethod":"POST","path":"blog-extrair-regras","responseMode":"onReceived","options":{}},"webhookId":"c845c2ed-0b1d-4ad0-bfdc-c82d7e5a3501"},{"id":"4727226a-354c-4e3e-bc0a-86e6883a53ec","name":"SELECT logs","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[500,390],"parameters":{"operation":"executeQuery","query":"SELECT id, pillar, note_text FROM blog_review_log WHERE processed_at IS NULL AND note_text IS NOT NULL AND note_text <> '' ORDER BY captured_at LIMIT 50;","options":{}},"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"id":"06210457-3ac8-41da-8c87-072f702a800e","name":"Montar Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[780,390],"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nif (!items || items.length === 0) return [];\n\nconst system = 'Voce destila REGRAS DE ESTILO EDITORIAL a partir de correcoes feitas por uma revisora medica em posts de blog. Proponha de 1 a 5 regras ACIONAVEIS, ESPECIFICAS e CURTAS (imperativas). Para cada uma: scope em {tom, estrutura, seo, factual, outro}. NAO invente regra factual ou de compliance CFM sem evidencia clara nas notas. Responda APENAS JSON valido: {\"rules\":[{\"scope\":\"...\",\"rule_text\":\"...\"}]}';\n\nconst user = 'Notas de correcao acumuladas (cada linha = uma correcao):\\n\\n' +\n  items.map((it, i) => (i+1) + '. [' + (it.json.pillar || '?') + '] ' + it.json.note_text).join('\\n');\n\nconst log_ids = items.map(it => it.json.id);\n\nreturn [{ json: { system, user, log_ids } }];"}},{"id":"570c2bd4-428c-42f1-a4ec-26715cc44df7","name":"Anthropic","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1060,390],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"claude-sonnet-4-5\", max_tokens: 4000, system: [{ type: \"text\", text: $json.system, cache_control: { type: \"ephemeral\" } }], messages: [{ role: \"user\", content: $json.user }, { role: \"assistant\", content: \"{\" }] }) }}","options":{"timeout":180000}},"credentials":{"anthropicApi":{"id":"LrxhJlhaR4wnSx31","name":"Anthropic account"}}},{"id":"397d0c01-332c-4a46-8e44-f74339472f74","name":"Parse Regras","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,390],"parameters":{"mode":"runOnceForAllItems","jsCode":"const raw = ($input.first().json.content?.[0]?.text) ?? ($input.first().json.text) ?? '';\n\n// Strip markdown fences if present\nlet body = raw.replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\n// Ensure starts with {\nif (!body.startsWith('{')) body = '{' + body;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(body);\n} catch(e) {\n  const lastBrace = body.lastIndexOf('}');\n  if (lastBrace > 0) {\n    try { parsed = JSON.parse(body.slice(0, lastBrace + 1)); } catch(e2) {\n      throw new Error('Parse Regras: JSON invalido: ' + e2.message + ' | raw: ' + body.slice(0, 200));\n    }\n  } else {\n    throw new Error('Parse Regras: JSON invalido: ' + e.message + ' | raw: ' + body.slice(0, 200));\n  }\n}\n\nconst logIds = $('Montar Prompt').first().json.log_ids;\nconst validScopes = ['tom','estrutura','seo','factual','outro'];\n\nconst rules = parsed.rules || [];\nif (rules.length === 0) return [];\n\nreturn rules.map(r => ({\n  json: {\n    rule_text: r.rule_text,\n    scope: validScopes.includes(r.scope) ? r.scope : 'outro',\n    source_log_ids: logIds\n  }\n}));"}},{"id":"f786095a-a848-414c-bce9-0750619f978a","name":"INSERT regra","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1620,390],"parameters":{"operation":"executeQuery","query":"INSERT INTO blog_style_rules (rule_text, scope, status, source_log_ids) VALUES ($1, $2, 'proposed', $3::uuid[]) RETURNING id, rule_text, scope;","options":{"queryReplacement":"={{ [$json.rule_text, $json.scope, '{' + ($json.source_log_ids||[]).join(',') + '}'] }}"}},"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"id":"33987e9f-6f02-4615-b382-1870584fdb01","name":"Marcar Processado SQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1900,480],"parameters":{"operation":"executeQuery","query":"UPDATE blog_review_log SET processed_at=NOW() WHERE id = ANY($1::uuid[]) AND processed_at IS NULL;","options":{"queryReplacement":"={{ ['{' + ($('Parse Regras').first().json.source_log_ids||[]).join(',') + '}'] }}"}},"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"id":"56c12584-0926-4b34-a81e-e83a19acea57","name":"Marcar Processado","type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Pass through all INSERT regra items so Telegram has $json.id, scope, rule_text per item\nconst insertItems = $('INSERT regra').all();\nreturn insertItems.map(it => ({\n  json: { id: it.json.id, rule_text: it.json.rule_text, scope: it.json.scope }\n}));"}},{"id":"5e5a63d8-eff1-43e5-a00e-abebd516cf09","name":"Telegram Regra","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2180,390],"parameters":{"chatId":"-5152728039","text":"={{ \"\\U0001F195 <b>Regra proposta</b> [\" + $json.scope + \"]\\n\\n\" + $json.rule_text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Aprovar","additionalFields":{"callback_data":"={{ \"aprovar:\" + $json.id }}"}},{"text":"❌ Recusar","additionalFields":{"callback_data":"={{ \"recusar:\" + $json.id }}"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"credentials":{"telegramApi":{"id":"pxD4NXXhJpW9E7Jn","name":"Telegram account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"SELECT logs","type":"main","index":0}]]},"Webhook Manual":{"main":[[{"node":"SELECT logs","type":"main","index":0}]]},"SELECT logs":{"main":[[{"node":"Montar Prompt","type":"main","index":0}]]},"Montar Prompt":{"main":[[{"node":"Anthropic","type":"main","index":0}]]},"Anthropic":{"main":[[{"node":"Parse Regras","type":"main","index":0}]]},"Parse Regras":{"main":[[{"node":"INSERT regra","type":"main","index":0}]]},"INSERT regra":{"main":[[{"node":"Marcar Processado SQL","type":"main","index":0},{"node":"Marcar Processado","type":"main","index":0}]]},"Marcar Processado":{"main":[[{"node":"Telegram Regra","type":"main","index":0}]]}},"authors":"Ossamu Okazaki","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-07T15:28:32.099Z","id":858,"workflowId":"P5LV0WrD3DSjQUcf","versionId":"c186b44c-b5f8-46b1-b465-e34ddd64af89","event":"activated","userId":"8b3518a6-64b3-4cc8-bfa5-294507f67464"},{"createdAt":"2026-06-07T15:28:32.070Z","id":857,"workflowId":"P5LV0WrD3DSjQUcf","versionId":"c186b44c-b5f8-46b1-b465-e34ddd64af89","event":"deactivated","userId":"8b3518a6-64b3-4cc8-bfa5-294507f67464"}]}}