n8n-workflows/_backup/2026-06-11-publicador-pre-reviewer.json
{"updatedAt":"2026-05-13T13:24:15.855Z","createdAt":"2026-04-26T02:21:09.441Z","id":"WTKgkMiaL74BmJbG","name":"Blog · Publicador","description":"Cron 15min: claim 1 entry da queue, valida, gera .post.ts, commit via GitHub node nativo (file.edit), IndexNow, marca published e notifica Telegram (sucesso/falha).","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 */15 * * * *"}]}},"id":"95598d19-27ef-4096-aff4-8e0947d3cf61","name":"A cada 15 min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,224]},{"parameters":{"operation":"executeQuery","query":"WITH cand AS (SELECT q.id FROM blog_publish_queue q WHERE q.scheduled_for <= NOW() AND q.published_at IS NULL AND (q.attempt_started_at IS NULL OR q.attempt_started_at < NOW() - INTERVAL '5 minutes') AND NOT EXISTS (SELECT 1 FROM blog_publish_queue p2 WHERE p2.published_at IS NOT NULL AND (p2.published_at AT TIME ZONE 'America/Recife')::date = (NOW() AT TIME ZONE 'America/Recife')::date) ORDER BY q.scheduled_for ASC FOR UPDATE SKIP LOCKED LIMIT 1) UPDATE blog_publish_queue SET attempt_started_at = NOW(), attempt_count = attempt_count + 1 WHERE id IN (SELECT id FROM cand) RETURNING id AS queue_id, draft_id, scheduled_for, attempt_count;","options":{}},"id":"a5ae8ae7-9dc5-4553-813c-6ede06e52bcf","name":"Lock + Claim Draft","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,224],"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.queue_id }}","operator":{"type":"string","operation":"exists"},"rightValue":""}]},"options":{}},"id":"5604f63b-87ea-4731-ac57-e1f96f410da6","name":"Tem entry?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[720,224]},{"parameters":{"operation":"executeQuery","query":"SELECT d.id, d.slug, d.pillar, d.title, d.content_json, q.id AS queue_id, q.attempt_count FROM blog_drafts d JOIN blog_publish_queue q ON q.draft_id = d.id WHERE q.id = $1 LIMIT 1;","options":{"queryReplacement":"={{ [$('Lock + Claim Draft').item.json.queue_id] }}"}},"id":"da9f33e5-d7b3-4c95-accd-61753b26112b","name":"SELECT draft completo","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[960,208],"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const d = $input.item.json;\nconst content = typeof d.content_json === 'string' ? JSON.parse(d.content_json) : d.content_json;\nconst required = ['slug','pillar','title','description','keywords','h1','lead','eyebrow','breadcrumbLabel','about','excerpt','sections','faqs','author','publishedAt','updatedAt'];\nconst missing = required.filter(k => !(k in content));\nif (missing.length) throw new Error('VALIDATION: Missing fields: ' + missing.join(','));\nif (!Array.isArray(content.sections) || !content.sections.length) throw new Error('VALIDATION: sections vazio');\nif (!/^[a-z0-9][a-z0-9-]*$/.test(content.slug)) throw new Error('VALIDATION: slug invalido');\ncontent.updatedAt = new Date().toISOString();\ndelete content._raw_body;\n\nif (Array.isArray(content.sections)) {\n  content.sections = content.sections.map(section => ({\n    ...section,\n    blocks: Array.isArray(section.blocks) ? section.blocks.map(block => {\n      if ('content' in block && !('text' in block)) {\n        const { content: blockText, ...rest } = block;\n        return { ...rest, text: blockText };\n      }\n      return block;\n    }) : section.blocks\n  }));\n}\nconst tsContent = 'import type { BlogPost } from \"./types\";\\n\\nexport const post = ' + JSON.stringify(content, null, 2) + ' satisfies BlogPost;\\n';\nconst path = 'packages/site/src/content/blog/' + content.slug + '.post.ts';\nconst commitMsg = 'feat(blog): publish ' + content.slug + ' (auto)\\n\\nPilar: ' + content.pillar + '\\nDraft id: ' + d.id + '\\n\\nGenerated by n8n Publicador, approved by Dra. Jane Erika.';\nreturn { json: { draft_id: d.id, queue_id: d.queue_id, slug: content.slug, title: content.title, pillar: content.pillar, file_path: path, file_content: tsContent, commit_message: commitMsg, attempt_count: d.attempt_count } };"},"id":"3ba6b52f-a2c6-40d8-b846-54620a463b37","name":"Gerar .post.ts + Validar","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,208]},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"ossamuok"},"repository":{"__rl":true,"mode":"name","value":"clinica-okazaki-site"},"filePath":"={{ $json.file_path }}","fileContent":"={{ $json.file_content }}","commitMessage":"={{ $json.commit_message }}","additionalParameters":{"branch":{"branch":"main"}}},"id":"5d6ac4cd-3b63-4455-975b-6b63d1eee77c","name":"GitHub Commit (file.edit)","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1440,208],"webhookId":"0d07799e-0ddf-4a1c-a632-280fb5e4785d","credentials":{"githubApi":{"id":"fik4HlAZUKZHGYuW","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.indexnow.org/indexnow","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ host: \"clinicaokazaki.com\", key: $vars.INDEXNOW_KEY || \"REPLACE_WITH_KEY\", keyLocation: \"https://www.clinicaokazaki.com/\" + ($vars.INDEXNOW_KEY || \"REPLACE_WITH_KEY\") + \".txt\", urlList: [\"https://www.clinicaokazaki.com/blog/\" + $('Gerar .post.ts + Validar').item.json.slug] }) }}","options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":30000}},"id":"3c92fca1-e1a9-40f0-b5d9-1c0b251c7ceb","name":"POST IndexNow","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1680,112]},{"parameters":{"operation":"executeQuery","query":"UPDATE blog_publish_queue SET published_at = NOW(), github_commit_sha = $1, indexnow_status = $2, last_error = NULL WHERE id = $3; UPDATE blog_drafts SET status = 'published', updated_at = NOW() WHERE id = $4;","options":{"queryReplacement":"={{ $('GitHub Commit (file.edit)').item.json.commit.sha }},{{ $json.statusCode === 200 ? 'success' : 'failed_' + $json.statusCode }},{{ $('Gerar .post.ts + Validar').item.json.queue_id }},{{ $('Gerar .post.ts + Validar').item.json.draft_id }}"}},"id":"438ea526-4d55-4527-ac3f-81148f489a1d","name":"UPDATE published","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1920,112],"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"parameters":{"chatId":"-5152728039","text":"={{ \"<b>✅ Post publicado</b>\\n\\n<b>\" + $('Gerar .post.ts + Validar').item.json.title + \"</b>\\n<i>\" + $('Gerar .post.ts + Validar').item.json.pillar + \"</i>\\n\\nCommit: <code>\" + $('GitHub Commit (file.edit)').item.json.commit.sha.slice(0,7) + \"</code>\" }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Ver post ao vivo","additionalFields":{"url":"={{ \"https://www.clinicaokazaki.com/blog/\" + $('Gerar .post.ts + Validar').item.json.slug }}"}}]}}]},"additionalFields":{"appendAttribution":false,"disable_web_page_preview":true,"parse_mode":"HTML"}},"id":"5892c7f3-f05e-46ba-91dc-a5782629f2a8","name":"Telegram: Publicado OK","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2160,112],"webhookId":"199fae55-8e7d-4695-a837-769176e50454","credentials":{"telegramApi":{"id":"pxD4NXXhJpW9E7Jn","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE blog_publish_queue SET last_error = $1 WHERE id = $2;","options":{"queryReplacement":"={{ [('github_commit failed: ' + ($json.error && $json.error.message ? $json.error.message : JSON.stringify($json).slice(0,200))), $('Gerar .post.ts + Validar').item.json.queue_id] }}"}},"id":"7117ea95-4b85-42d4-bd06-c7a267e25495","name":"UPDATE last_error","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,400],"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"parameters":{"chatId":"-5152728039","text":"={{ \"<b>⚠️ Falha na publicação</b>\\n\\nSlug: <code>\" + $('Gerar .post.ts + Validar').item.json.slug + \"</code>\\nEtapa: <i>commit GitHub</i>\\nTentativa: \" + $('Gerar .post.ts + Validar').item.json.attempt_count + \"\\n\\n<b>Erro:</b>\\n<code>\" + (($json.error && $json.error.message) ? $json.error.message : JSON.stringify($json).slice(0,200)) + \"</code>\\n\\nO Publicador tentará novamente em ~5 min.\" }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Abrir rascunho","additionalFields":{"url":"={{ \"https://editor.clinicaokazaki.com/drafts/\" + $('Gerar .post.ts + Validar').item.json.draft_id }}"}}]}}]},"additionalFields":{"appendAttribution":false,"disable_web_page_preview":true,"parse_mode":"HTML"}},"id":"054168df-f52f-4713-b3f7-b892bbbe4271","name":"Telegram: Falha publicação","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1920,400],"webhookId":"51bd09e1-19b8-4e07-91f8-8888de5a1f8d","credentials":{"telegramApi":{"id":"pxD4NXXhJpW9E7Jn","name":"Telegram account"}}},{"parameters":{"content":"## Blog Publicador\n\nCron */15min: tenta publicar 1 entry due da fila.\n\nLock pessimista (FOR UPDATE SKIP LOCKED) + cap 1/dia BRT.\n\nCredentials: Supabase Blog Postgres, GitHub Blog API (predefined GitHub credential, fine-grained PAT com Contents: Write), Telegram Blog Bot.\n\nGrupo Telegram chat_id: -5152728039\n\nVar de ambiente n8n: INDEXNOW_KEY (32 chars random; arquivo correspondente em packages/site/public/<KEY>.txt).\n\nGitHub node em modo onError continueErrorOutput — output 1 (success) -> indexNow, output 2 (error) -> recordError.","height":200,"width":780,"color":6},"id":"4b8b80fa-3770-4d68-924f-2b209ab7984a","name":"Sticky Note 4de07a48","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,-144]}],"connections":{"A cada 15 min":{"main":[[{"node":"Lock + Claim Draft","type":"main","index":0}]]},"Lock + Claim Draft":{"main":[[{"node":"Tem entry?","type":"main","index":0}]]},"Tem entry?":{"main":[[{"node":"SELECT draft completo","type":"main","index":0}]]},"SELECT draft completo":{"main":[[{"node":"Gerar .post.ts + Validar","type":"main","index":0}]]},"Gerar .post.ts + Validar":{"main":[[{"node":"GitHub Commit (file.edit)","type":"main","index":0}]]},"GitHub Commit (file.edit)":{"main":[[{"node":"POST IndexNow","type":"main","index":0}],[{"node":"UPDATE last_error","type":"main","index":0}]]},"POST IndexNow":{"main":[[{"node":"UPDATE published","type":"main","index":0}]]},"UPDATE published":{"main":[[{"node":"Telegram: Publicado OK","type":"main","index":0}]]},"Telegram: Publicado OK":{"error":[[{"node":"UPDATE last_error","type":"main","index":0}]]},"UPDATE last_error":{"main":[[{"node":"Telegram: Falha publicação","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:A cada 15 min":{"recurrenceRules":[]}},"meta":{"aiBuilderAssisted":true,"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7fc53e17-9e78-40b3-bc32-c6cacf61bf48","activeVersionId":"7fc53e17-9e78-40b3-bc32-c6cacf61bf48","versionCounter":66,"triggerCount":1,"shared":[{"updatedAt":"2026-04-26T02:21:09.442Z","createdAt":"2026-04-26T02:21:09.442Z","role":"workflow:owner","workflowId":"WTKgkMiaL74BmJbG","projectId":"mNuhJVX5r2YbaTma","project":{"updatedAt":"2026-03-23T10:56:34.089Z","createdAt":"2026-03-19T09:34:59.280Z","id":"mNuhJVX5r2YbaTma","name":"Ossamu Okazaki <ossamuok@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8b3518a6-64b3-4cc8-bfa5-294507f67464"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-09T20:25:59.578Z","createdAt":"2026-05-09T20:25:59.578Z","versionId":"7fc53e17-9e78-40b3-bc32-c6cacf61bf48","workflowId":"WTKgkMiaL74BmJbG","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 */15 * * * *"}]}},"id":"95598d19-27ef-4096-aff4-8e0947d3cf61","name":"A cada 15 min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,224]},{"parameters":{"operation":"executeQuery","query":"WITH cand AS (SELECT q.id FROM blog_publish_queue q WHERE q.scheduled_for <= NOW() AND q.published_at IS NULL AND (q.attempt_started_at IS NULL OR q.attempt_started_at < NOW() - INTERVAL '5 minutes') AND NOT EXISTS (SELECT 1 FROM blog_publish_queue p2 WHERE p2.published_at IS NOT NULL AND (p2.published_at AT TIME ZONE 'America/Recife')::date = (NOW() AT TIME ZONE 'America/Recife')::date) ORDER BY q.scheduled_for ASC FOR UPDATE SKIP LOCKED LIMIT 1) UPDATE blog_publish_queue SET attempt_started_at = NOW(), attempt_count = attempt_count + 1 WHERE id IN (SELECT id FROM cand) RETURNING id AS queue_id, draft_id, scheduled_for, attempt_count;","options":{}},"id":"a5ae8ae7-9dc5-4553-813c-6ede06e52bcf","name":"Lock + Claim Draft","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,224],"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.queue_id }}","operator":{"type":"string","operation":"exists"},"rightValue":""}]},"options":{}},"id":"5604f63b-87ea-4731-ac57-e1f96f410da6","name":"Tem entry?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[720,224]},{"parameters":{"operation":"executeQuery","query":"SELECT d.id, d.slug, d.pillar, d.title, d.content_json, q.id AS queue_id, q.attempt_count FROM blog_drafts d JOIN blog_publish_queue q ON q.draft_id = d.id WHERE q.id = $1 LIMIT 1;","options":{"queryReplacement":"={{ [$('Lock + Claim Draft').item.json.queue_id] }}"}},"id":"da9f33e5-d7b3-4c95-accd-61753b26112b","name":"SELECT draft completo","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[960,208],"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const d = $input.item.json;\nconst content = typeof d.content_json === 'string' ? JSON.parse(d.content_json) : d.content_json;\nconst required = ['slug','pillar','title','description','keywords','h1','lead','eyebrow','breadcrumbLabel','about','excerpt','sections','faqs','author','publishedAt','updatedAt'];\nconst missing = required.filter(k => !(k in content));\nif (missing.length) throw new Error('VALIDATION: Missing fields: ' + missing.join(','));\nif (!Array.isArray(content.sections) || !content.sections.length) throw new Error('VALIDATION: sections vazio');\nif (!/^[a-z0-9][a-z0-9-]*$/.test(content.slug)) throw new Error('VALIDATION: slug invalido');\ncontent.updatedAt = new Date().toISOString();\ndelete content._raw_body;\n\nif (Array.isArray(content.sections)) {\n  content.sections = content.sections.map(section => ({\n    ...section,\n    blocks: Array.isArray(section.blocks) ? section.blocks.map(block => {\n      if ('content' in block && !('text' in block)) {\n        const { content: blockText, ...rest } = block;\n        return { ...rest, text: blockText };\n      }\n      return block;\n    }) : section.blocks\n  }));\n}\nconst tsContent = 'import type { BlogPost } from \"./types\";\\n\\nexport const post = ' + JSON.stringify(content, null, 2) + ' satisfies BlogPost;\\n';\nconst path = 'packages/site/src/content/blog/' + content.slug + '.post.ts';\nconst commitMsg = 'feat(blog): publish ' + content.slug + ' (auto)\\n\\nPilar: ' + content.pillar + '\\nDraft id: ' + d.id + '\\n\\nGenerated by n8n Publicador, approved by Dra. Jane Erika.';\nreturn { json: { draft_id: d.id, queue_id: d.queue_id, slug: content.slug, title: content.title, pillar: content.pillar, file_path: path, file_content: tsContent, commit_message: commitMsg, attempt_count: d.attempt_count } };"},"id":"3ba6b52f-a2c6-40d8-b846-54620a463b37","name":"Gerar .post.ts + Validar","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,208]},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"ossamuok"},"repository":{"__rl":true,"mode":"name","value":"clinica-okazaki-site"},"filePath":"={{ $json.file_path }}","fileContent":"={{ $json.file_content }}","commitMessage":"={{ $json.commit_message }}","additionalParameters":{"branch":{"branch":"main"}}},"id":"5d6ac4cd-3b63-4455-975b-6b63d1eee77c","name":"GitHub Commit (file.edit)","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1440,208],"webhookId":"0d07799e-0ddf-4a1c-a632-280fb5e4785d","credentials":{"githubApi":{"id":"fik4HlAZUKZHGYuW","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.indexnow.org/indexnow","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ host: \"clinicaokazaki.com\", key: $vars.INDEXNOW_KEY || \"REPLACE_WITH_KEY\", keyLocation: \"https://www.clinicaokazaki.com/\" + ($vars.INDEXNOW_KEY || \"REPLACE_WITH_KEY\") + \".txt\", urlList: [\"https://www.clinicaokazaki.com/blog/\" + $('Gerar .post.ts + Validar').item.json.slug] }) }}","options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":30000}},"id":"3c92fca1-e1a9-40f0-b5d9-1c0b251c7ceb","name":"POST IndexNow","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1680,112]},{"parameters":{"operation":"executeQuery","query":"UPDATE blog_publish_queue SET published_at = NOW(), github_commit_sha = $1, indexnow_status = $2, last_error = NULL WHERE id = $3; UPDATE blog_drafts SET status = 'published', updated_at = NOW() WHERE id = $4;","options":{"queryReplacement":"={{ $('GitHub Commit (file.edit)').item.json.commit.sha }},{{ $json.statusCode === 200 ? 'success' : 'failed_' + $json.statusCode }},{{ $('Gerar .post.ts + Validar').item.json.queue_id }},{{ $('Gerar .post.ts + Validar').item.json.draft_id }}"}},"id":"438ea526-4d55-4527-ac3f-81148f489a1d","name":"UPDATE published","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1920,112],"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"parameters":{"chatId":"-5152728039","text":"={{ \"<b>✅ Post publicado</b>\\n\\n<b>\" + $('Gerar .post.ts + Validar').item.json.title + \"</b>\\n<i>\" + $('Gerar .post.ts + Validar').item.json.pillar + \"</i>\\n\\nCommit: <code>\" + $('GitHub Commit (file.edit)').item.json.commit.sha.slice(0,7) + \"</code>\" }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Ver post ao vivo","additionalFields":{"url":"={{ \"https://www.clinicaokazaki.com/blog/\" + $('Gerar .post.ts + Validar').item.json.slug }}"}}]}}]},"additionalFields":{"appendAttribution":false,"disable_web_page_preview":true,"parse_mode":"HTML"}},"id":"5892c7f3-f05e-46ba-91dc-a5782629f2a8","name":"Telegram: Publicado OK","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2160,112],"webhookId":"199fae55-8e7d-4695-a837-769176e50454","credentials":{"telegramApi":{"id":"pxD4NXXhJpW9E7Jn","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE blog_publish_queue SET last_error = $1 WHERE id = $2;","options":{"queryReplacement":"={{ [('github_commit failed: ' + ($json.error && $json.error.message ? $json.error.message : JSON.stringify($json).slice(0,200))), $('Gerar .post.ts + Validar').item.json.queue_id] }}"}},"id":"7117ea95-4b85-42d4-bd06-c7a267e25495","name":"UPDATE last_error","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,400],"credentials":{"postgres":{"id":"OrMhexleB5Cyk2m2","name":"Supabase Blog Postgres"}}},{"parameters":{"chatId":"-5152728039","text":"={{ \"<b>⚠️ Falha na publicação</b>\\n\\nSlug: <code>\" + $('Gerar .post.ts + Validar').item.json.slug + \"</code>\\nEtapa: <i>commit GitHub</i>\\nTentativa: \" + $('Gerar .post.ts + Validar').item.json.attempt_count + \"\\n\\n<b>Erro:</b>\\n<code>\" + (($json.error && $json.error.message) ? $json.error.message : JSON.stringify($json).slice(0,200)) + \"</code>\\n\\nO Publicador tentará novamente em ~5 min.\" }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Abrir rascunho","additionalFields":{"url":"={{ \"https://editor.clinicaokazaki.com/drafts/\" + $('Gerar .post.ts + Validar').item.json.draft_id }}"}}]}}]},"additionalFields":{"appendAttribution":false,"disable_web_page_preview":true,"parse_mode":"HTML"}},"id":"054168df-f52f-4713-b3f7-b892bbbe4271","name":"Telegram: Falha publicação","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1920,400],"webhookId":"51bd09e1-19b8-4e07-91f8-8888de5a1f8d","credentials":{"telegramApi":{"id":"pxD4NXXhJpW9E7Jn","name":"Telegram account"}}},{"parameters":{"content":"## Blog Publicador\n\nCron */15min: tenta publicar 1 entry due da fila.\n\nLock pessimista (FOR UPDATE SKIP LOCKED) + cap 1/dia BRT.\n\nCredentials: Supabase Blog Postgres, GitHub Blog API (predefined GitHub credential, fine-grained PAT com Contents: Write), Telegram Blog Bot.\n\nGrupo Telegram chat_id: -5152728039\n\nVar de ambiente n8n: INDEXNOW_KEY (32 chars random; arquivo correspondente em packages/site/public/<KEY>.txt).\n\nGitHub node em modo onError continueErrorOutput — output 1 (success) -> indexNow, output 2 (error) -> recordError.","height":200,"width":780,"color":6},"id":"4b8b80fa-3770-4d68-924f-2b209ab7984a","name":"Sticky Note 4de07a48","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,-144]}],"connections":{"A cada 15 min":{"main":[[{"node":"Lock + Claim Draft","type":"main","index":0}]]},"Lock + Claim Draft":{"main":[[{"node":"Tem entry?","type":"main","index":0}]]},"Tem entry?":{"main":[[{"node":"SELECT draft completo","type":"main","index":0}]]},"SELECT draft completo":{"main":[[{"node":"Gerar .post.ts + Validar","type":"main","index":0}]]},"Gerar .post.ts + Validar":{"main":[[{"node":"GitHub Commit (file.edit)","type":"main","index":0}]]},"GitHub Commit (file.edit)":{"main":[[{"node":"POST IndexNow","type":"main","index":0}],[{"node":"UPDATE last_error","type":"main","index":0}]]},"POST IndexNow":{"main":[[{"node":"UPDATE published","type":"main","index":0}]]},"UPDATE published":{"main":[[{"node":"Telegram: Publicado OK","type":"main","index":0}]]},"Telegram: Publicado OK":{"error":[[{"node":"UPDATE last_error","type":"main","index":0}]]},"UPDATE last_error":{"main":[[{"node":"Telegram: Falha publicação","type":"main","index":0}]]}},"authors":"Ossamu Okazaki","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-09T20:25:59.631Z","id":762,"workflowId":"WTKgkMiaL74BmJbG","versionId":"7fc53e17-9e78-40b3-bc32-c6cacf61bf48","event":"activated","userId":"8b3518a6-64b3-4cc8-bfa5-294507f67464"},{"createdAt":"2026-05-09T20:26:06.033Z","id":764,"workflowId":"WTKgkMiaL74BmJbG","versionId":"7fc53e17-9e78-40b3-bc32-c6cacf61bf48","event":"activated","userId":"8b3518a6-64b3-4cc8-bfa5-294507f67464"},{"createdAt":"2026-05-13T13:24:15.952Z","id":795,"workflowId":"WTKgkMiaL74BmJbG","versionId":"7fc53e17-9e78-40b3-bc32-c6cacf61bf48","event":"activated","userId":"8b3518a6-64b3-4cc8-bfa5-294507f67464"},{"createdAt":"2026-05-09T20:25:59.619Z","id":761,"workflowId":"WTKgkMiaL74BmJbG","versionId":"7fc53e17-9e78-40b3-bc32-c6cacf61bf48","event":"deactivated","userId":"8b3518a6-64b3-4cc8-bfa5-294507f67464"},{"createdAt":"2026-05-09T20:26:06.005Z","id":763,"workflowId":"WTKgkMiaL74BmJbG","versionId":"7fc53e17-9e78-40b3-bc32-c6cacf61bf48","event":"deactivated","userId":"8b3518a6-64b3-4cc8-bfa5-294507f67464"},{"createdAt":"2026-05-13T13:24:15.915Z","id":794,"workflowId":"WTKgkMiaL74BmJbG","versionId":"7fc53e17-9e78-40b3-bc32-c6cacf61bf48","event":"deactivated","userId":"8b3518a6-64b3-4cc8-bfa5-294507f67464"}]}}